.btn-subscibe {
	@include setBgColor($primary, $white);
	@include radius(4);
	@include font-face($primaryFont, style('normal'), size(12), weight('semibold'), line-height(12, 12));
	padding: length(12) length(20);
	text-align: center;
	@include transitionsbackground;

	@include hover {
		background: $footerbg;
	}
}

.btn-explore {
	@include setBgColor($primary, $white);
	@include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(18, 14));
	padding: length(16) length(24);
	@include radius(8);
	@include transitionsall;

	@include hover {
		@include setBgColor($secondary, $white);
	}
}

.btn-service {
	@include setBgColor($primary, $white);
	@include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(14, 14));
	padding: length(22) length(18);
	@include radius(8);
	@include transitionsall;

	@include breakpoint(mobile768) {
		@include font-face($primaryFont, style('normal'), size(16), weight('bold'), line-height(14, 16));
	}

	@include hover {
		@include setBgColor($secondary, $white);
	}
}

.btn-detail {
	@include setBgColor($primary, $white);
	@include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(14, 14));
	padding: length(22) length(45);
	@include radius(8);
	@include transitionsall;

	@include breakpoint(mobile768) {
		@include font-face($primaryFont, style('normal'), size(16), weight('bold'), line-height(14, 16));
	}

	@include hover {
		@include setBgColor($secondary, $white);
	}
}

.btn-getintouch {
	@include setBgColor($primary, $white);
	@include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(14, 14));
	padding: length(20) length(40);
	@include radius(8);
	@include transitionsall;

	@include breakpoint(mobile768) {
		@include font-face($primaryFont, style('normal'), size(16), weight('bold'), line-height(14, 16));
	}

	@include breakpoint(tab992) {
		@include font-face($primaryFont, style('normal'), size(18), weight('bold'), line-height(14, 18));
	}

	@include hover {
		@include setBgColor($secondary, $white);
	}
}

.btn-text {
	@include transparent-button;
	padding: length(8);
	@include flex-center;
	gap: length(10);
	@include transitionsall;

	@include breakpoint(mobile500) {
		padding: length(22) length(24);
	}

	.text {
		@include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(14, 14));
		color: $primary;

		@include breakpoint(mobile768) {
			@include font-face($primaryFont, style('normal'), size(16), weight('bold'), line-height(14, 16));
		}
	}

	.icon {
		@include square(length(36));
		@include flex-center;
		overflow: hidden;

		svg {
			@include wh100;
		}
	}

	@include hover {
		.text {
			color: $secondary;
		}

		.icon {
			svg {
				path {
					fill: $secondary;
				}
			}
		}
	}
}

.btn-contact {
	background: $btnbg;
	@include square(length(70));
	@include circle;
	@include flex-center;

	.icon {
		background: $primary;
		@include square(length(55));
		@include flex-center;
		@include circle;
		overflow: hidden;
		padding: length(14);
		position: relative;
		transition: $time;
	}

	@include hover {
		background: transparent;
		// background: lighten($color: $secondary, $amount: 40%);

		.icon {
			background: $secondary;
		}
	}
}

.btn-play {
	@include square(length(80));
	@include transparent-button;
	@include circle;
	@include flex-center;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 120%;
		height: 120%;
		-webkit-animation-delay: 0s;
		animation-delay: 0s;
		opacity: 0;
		@include circle;
		@include border(solid, 10, darken($white, 20%));

		@include breakpoint(tab992) {
			@include border(solid, 12, darken($white, 20%));
		}

		@include breakpoint(desktop1200) {
			@include border(solid, 20, darken($white, 20%));
		}
	}

	svg {
		@include wh100;
	}

	@include breakpoint(desktop1200) {
		@include square(length(100));
	}

	@include breakpoint(desktop1400) {
		@include square(length(144));
	}

	@include hover {
		&::before {
			-webkit-animation: pulsate 1s;
			animation: pulsate 1s;
			-webkit-animation-direction: linear;
			animation-direction: linear;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			-webkit-animation-timing-function: steps;
			animation-timing-function: steps;
			opacity: 1;
		}
	}
}

.btn-submit {
	@include w100;
	@include radius(8);
	@include setBgColor($primary, $white);
	@include font-face($primaryFont, style('normal'), size(18), weight('bold'), line-height(14, 14));
	padding: length(16) length(28);
	text-align: center;
	@include transitionsbackground;

	@include breakpoint(tab992) {
		@include font-face($primaryFont, style('normal'), size(18), weight('bold'), line-height(14, 18));
	}

	@include hover {
		background: $secondary;
	}
}

.btn-link {
	@include w100;
	@include radius(8);
	@include setBgColor($white, $primary);
	@include border(solid, 1.5, $primary);
	@include font-face($primaryFont, style('normal'), size(18), weight('bold'), line-height(14, 14));
	padding: length(16) length(28);
	text-align: center;
	text-decoration: none;
	@include transitionsbackground;

	@include breakpoint(tab992) {
		@include font-face($primaryFont, style('normal'), size(18), weight('bold'), line-height(14, 18));
	}

	@include hover {
		@include setBgColor($primary, $white);
	}
}

.btn-read {
	@include setBgColor($primary, $white);
	@include font-face($primaryFont, style('normal'), size(12), weight('semibold'), line-height(12, 12));
	padding: length(16);
	text-align: center;
	@include flex-center;
	@include w100;
	@include radius(8);
	text-align: center;
	@include transitionsall;

	@include breakpoint(mobile576) {
		@include font-face($primaryFont, style('normal'), size(14), weight('semibold'), line-height(14, 14));
	}

	@include hover {
			@include setBgColor(darken($primary, 15%), $white);
	}
}

.btn-seeall {
	@include border(solid, 1, $primary);
	@include setBgColor(transparent, $primary);
	@include font-face($primaryFont, style('normal'), size(12), weight('semibold'), line-height(12, 12));
	padding: length(16);
	text-align: center;
	@include flex-center;
	@include w100;
	@include radius(8);
	text-align: center;
	@include transitionsall;

	@include breakpoint(mobile576) {
		@include font-face($primaryFont, style('normal'), size(14), weight('semibold'), line-height(14, 14));
	}

	@include hover {
		@include setBgColor($primary, $white);
	}
}

.btn-backto {
	@include setBgColor($primary, $white);
	padding: length(12) length(24);
	@include radius(8);
	@include flex-center;
	gap: length(10);
	@include transitionsall;

	.text {
		color: inherit;
		@include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(18, 14));
	}

	.icon {
		margin-top: length(-4);
		svg {
			path {
				fill: $white;
			}
		}
	}

	@include hover {
		@include setBgColor(darken($primary, 20%), $white);
	}
}

@-webkit-keyframes pulsate {
	0% {
		-webkit-transform: scale(1);
		transform: scale(0.6);
		opacity: 1;
		box-shadow: $box-shadow-1;
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
		box-shadow: none;
	}
}

@keyframes pulsate {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
		box-shadow: $box-shadow-1;
	}

	100% {
		-webkit-transform: scale(1.1, 1.1);
		transform: scale(1.1);
		opacity: 0;
		box-shadow: none;
	}
}

.up-btn {
	margin-left: auto;
	@include circle;
	padding: length(14);
	@include flex-center;
	cursor: pointer;
}