/**=====================================================**
                        HOME-CARDS
=======================================================**/
.card-feature {
	@include flex-column;
	gap: length(16);
	padding: length(32) length(24);
	@include radius(16);
	@include h100;

	&-header {
		.card-cap {
			background: $gray-200;
			@include square(length(56));
			@include circle;
			@include flex-center;
			// padding: length(14);
			overflow: hidden;

			svg {
				@include wh100;
			}
		}
	}

	&-body {
		@include flex-column;
		gap: length(8);

		.feature-title {
			color: $gray-700;
			@include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(34.09, 24));

			@include breakpoint(desktop1400) {
				@include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38.09, 28));
			}
		}

		.feature-text {
			color: $gray-600;
			@include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
			letter-spacing: length(0.24);
			text-align: left;

			@include breakpoint(desktop1400) {
				@include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
			}

			@include breakpoint(desktop1400) {
				text-align: justify;
			}
		}
	}
}

.feature {
	@include h100;
}

.feature-1,
.feature-4 {
	background: $expartBg;
}

.feature-2 {
	background: $professionalBg;
}

.feature-3 {
	background: $transparencylBg;
}

.card-article {
	background: $white;
	@include radius(8);
	@include flex-column;
	gap: length(8);
	padding: length(6);
	max-width: 100%;

	@include breakpoint(mobile480) {
		max-width: length(312);
		margin-inline: auto;
	}

	@include breakpoint(mobile576) {
		max-width: 100%;
	}

	&-header {
		@include radius(8);
		@include w100;
		height: length(170);
		overflow: hidden;

		img {
			@include wh100;
			object-fit: cover;
			@include transitiontransform;

			@include hover {
				@include transform(scale(1.05));
			}
		}
	}

	&-body {
		@include flex-column;
		gap: length(12);
		padding: length(6);

		.title-date {
			@include flex-column;

			.title {
				color: $gray-800;
				@include font-face($primaryFont, style('normal'), size(16), weight('semibold'), line-height(25, 16));
				@include transitionscolor;

				@include hover {
					color: $primary;
				}
			}

			.date {
				color: $gray-600;
				@include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(24, 14));
				font-feature-settings: 'salt';
			}
		}

		.articledescript {
			.articletext {
				color: $gray-600;
				@include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(24, 14));
				font-feature-settings: 'salt';
			}
		}

		.articlelink {
			color: $gray-800;
			@include font-face($primaryFont, style('normal'), size(14), weight('semibold'), line-height(24, 14));
			font-feature-settings: 'salt';
			@include transitionscolor;

			@include hover {
				color: $primary;
			}
		}
	}
}

.card-testimonial {
	background: $white;
	@include radius(8);
	padding: length(16) length(40);
	@include flex-center-column;
	gap: length(24);
	text-align: center;

	.text-testimonial {
		color: $gray-600;
		@include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(26, 16));
		letter-spacing: length(0.24);

		@include breakpoint(mobile768) {
			@include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
		}
	}

	.author {
		color: $black;
		@include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(24, 14));
		font-feature-settings: 'salt'on;
	}
}

.card-project {
	@include flex-column;
	gap: length(22);

	&-header {
		background: $cardHeaderBg;
		@include radius(16);
		@include w100;
		height: length(318);
		@include flex-center;
		overflow: hidden;

		@include breakpoint(mobile480) {
			width: length(420);
		}

		@include breakpoint(mobile576) {
			@include w100;
		}

		img {
			@include wh100;
			object-fit: cover;
			@include transitiontransform;

			@include hover {
				@include transform(scale(1.05));
			}
		}
	}

	&-body {
		@include flex-column;
		gap: length(16);

		.project-title {
			@include flex-center-vert;
			gap: length(40);

			.title {
				color: $gray-700;
				@include font-face($primaryFont, style('normal'), size(16), weight('semibold'), line-height(26, 16));
				letter-spacing: length(0.24);

				@include breakpoint(mobile768) {
					@include font-face($primaryFont, style('normal'), size(20), weight('semibold'), line-height(27.3, 20));
				}
			}

			.icon {
				@include square(length(24));
				@include flex-center;
				overflow: hidden;

				svg {
					@include wh100;
				}
			}

			@include hover {
				.title {
					color: $secondary;
				}

				svg {
					path {
						fill: $secondary;
					}
				}
			}
		}

		.tags {
			@include flex-center-vert;
			gap: length(8);
			flex-wrap: wrap;

			.tag {
				@include setBgColor($gray-200, $gray-500);
				@include radius(6);
				@include font-face($primaryFont, style('normal'), size(14), weight('semibold'), line-height(21.29, 14));
				padding: length(8) length(12);
				text-align: center;
				@include transitionsall;

				@include hover {
					@include setBgColor($gray-500, $gray-200);
				}
			}
		}
	}
}

.feature {
	@include flex-column;
	gap: length(22);
	background: $white;
	padding: length(20);

	@include breakpoint(mobile768) {
		padding: length(24);
	}

	@include breakpoint(tab992) {
		padding: length(40);
	}

	&-header {
		@include flex-column;
		gap: length(16);
	}

	&-cap {
		// background: $technologyBg;
		@include square(length(48));
		@include circle;
		@include flex-center;

		svg {
			@include wh100;
		}
	}

	&-title {
		color: $gray-600;
		@include font-face($primaryFont, style('normal'), size(18), weight('semibold'), line-height(25.3, 18));

		@include breakpoint(mobile768) {
			@include font-face($primaryFont, style('normal'), size(20), weight('semibold'), line-height(27.3, 20));
		}
	}

	&-text {
		color: $gray-600;
		@include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(25.58, 14));
		letter-spacing: length(0.24);
		text-align: justify;

		@include breakpoint(mobile768) {
			@include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25.92, 16));
		}

		@include breakpoint(tab992) {
			@include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
		}
	}
}

.card-technology {
	@include flex-center-column;
	gap: length(22);
	background: $white;
	padding: length(20);
	@include h100;

	@include breakpoint(mobile768) {
		padding: length(24);
	}

	@include breakpoint(tab992) {
		padding: length(40);
	}

	&-header {
		@include flex-center-column;
		gap: length(16);
		text-align: center;
	}

	&-cap {
		// background: $technologyBg;
		@include square(length(60));
		@include circle;
		@include flex-center;
		padding: length(24);

		@include breakpoint(mobile768) {
			@include square(length(80));
		}

		@include breakpoint(tab992) {
			@include square(length(100));
		}

		svg {
			@include wh100;
		}
	}

	&-title {
		color: $gray-700;
		@include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(36.97, 24));

		@include breakpoint(mobile768) {
			@include font-face($primaryFont, style('normal'), size(36), weight('semibold'), line-height(48.97, 36));
		}
	}

	&-text {
		color: $gray-600;
		@include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(25.58, 14));
		letter-spacing: length(0.24);
		text-align: center;

		@include breakpoint(mobile768) {
			@include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25.92, 16));
		}

		@include breakpoint(tab992) {
			@include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
		}
	}
}

.card-blog {
	background: $white;
	@include radius(16);
	overflow: hidden;

	&-thumbnail {
		overflow: hidden;
		@include wh100;

		@include breakpoint(tablet991) {
			@include radius(16);
		}

		img {
			@include wh100;
			object-fit: cover;
		}
	}

	&-details {
		padding: length(44) length(44) length(44) length(0);
		@include flex-column;
		gap: length(44);

		@include breakpoint(desktop1400) {
			padding: length(40) length(42) length(40) length(0);
		}

		@include breakpoint(desktop1200) {
			gap: length(32);
			padding: length(30) length(30) length(30) length(0);
		}

		@include breakpoint(tablet991) {
			padding: length(32);
		}

		@include breakpoint(phone768) {
			padding: length(24);
		}

		@include breakpoint(phone575) {
			padding: length(16) length(16) length(32);
		}

		.info {
			@include flex-column;
			gap: length(16);

			@include breakpoint(desktop1200) {
				gap: length(28);
			}

			&-head {
				@include flex-column;
				gap: length(8);

				.blogtitle {
					color: $gray-800;
					@include font-face($primaryFont, style('normal'), size(20), weight('semibold'), line-height(27.3, 20));

					@include breakpoint(mobile768) {
						@include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32.64, 24));
					}

					@include breakpoint(tab992) {
						@include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38.08, 28));
					}

					@include breakpoint(desktop1400) {
						@include font-face($primaryFont, style('normal'), size(36), weight('semibold'), line-height(48.96, 36));
					}
				}

				.date {
					@include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(27.3, 20));
					color: $dateColor;
					
					@include breakpoint(mobile768) {
						@include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(26, 16));
					}
				}
			}

			&-body {
				.blogtext {
					@include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(24, 14));
					color: $gray-600;
					
					@include breakpoint(mobile768) {
						@include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
					}
				}
			}
		}

		.readinfo {
			width: length(200);
		}
	}
}