/**=====================================================
                FOOTER SECTION START
=====================================================**/

.footer {
	background: $footerbg;
	padding: length(64) length(8) length(0);

	&-content {
		@include flex-column;
		gap: length(78);

		.footlogo-subscribe {
			@include flex-center-column;
			gap: length(40);

			@include breakpoint(tab992) {
				align-items: flex-start;
			}

			.footlogo {
				@include square(length(64));
				@include flex-center;
				@include circle;
				overflow: hidden;

				@include breakpoint(tab992) {
					@include square(length(80));
				}

				img {
					@include wh100;
					object-fit: contain;
				}
			}

			.subscribe {
				background: $gray-200;
				backdrop-filter: blur(length(10));
				@include flex-center-vert;
				padding: length(5) length(4);
				@include w100;
				margin-inline: auto;
				@include radius(4);

				@include breakpoint(mobile768) {
					width: 70%;
					margin: 0;
				}

				@include breakpoint(tab992) {
					width: length(332);
				}

				.inputfield {
					flex: 1;
					background: transparent;
					@include setBgColor(transparent, $gray-800);
					@include font-face($primaryFont, style('normal'), size(13), weight('normal'), line-height(13, 13));
					padding: length(8) length(12);

					&::placeholder {
						color: $subscribePlaceholder;
					}
				}
			}
		}

		.footerinfo {
			@include flex-center-column;
			gap: length(24);

			@include breakpoint(tab992) {
				align-items: flex-start;
			}

			&-header {
				.footerinfo-title {
					color: $white;
					@include font-face($primaryFont, style('normal'), size(18), weight('semibold'), line-height(24, 18));
					font-feature-settings: 'salt';

					@include breakpoint(tab992) {
						@include font-face($primaryFont, style('normal'), size(22), weight('semibold'), line-height(28, 22));
					}
				}
			}

			&-body {
				@include flex-center-column;
				gap: length(40);

				@include breakpoint(tab992) {
					align-items: flex-start;
				}

				.footerlist {
					@include list-vertical;
					align-items: center;
					gap: length(12);

					@include breakpoint(tab992) {
						align-items: flex-start;
					}

					&-link {
						color: $white;
						position: relative;
						@include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(21, 14));
						font-feature-settings: 'salt';

						@include breakpoint(tab992) {
							@include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25.92, 16));
						}

						&::before {
							content: '';
							position: absolute;
							bottom: length(1);
							left: 0;
							height: length(1);
							width: 0;
							background: $tertiary;
							transition: .5s;
						}

						@include hover {
							color: $tertiary;

							&::before {
								@include w100;
							}
						}
					}
				}

				.contactlist {
					@include list-vertical;
					gap: length(12);
					align-items: center;
					text-align: center;

					@include breakpoint(tab992) {
						align-items: flex-start;
						text-align: left;
					}

					&-link {
						color: $white;
						@include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(21, 14));
						font-feature-settings: 'salt';
						position: relative;

						@include breakpoint(tab992) {
							@include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25.92, 16));
						}

						&::before {
							content: '';
							position: absolute;
							bottom: length(1);
							left: 0;
							height: length(1);
							width: 0;
							background: $tertiary;
							transition: .5s;
						}

						@include hover {
							color: $tertiary;

							&::before {
								@include w100;
							}
						}
					}

					.address {
						color: $white;
						@include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(21, 14));
						font-feature-settings: 'salt';

						@include breakpoint(tab992) {
							@include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25.92, 16));
						}
					}
				}

				.social-list {
					@include list-horizontal;
					gap: length(32);

					&-link {
						@include square(length(30));
						@include flex-center;
						overflow: hidden;

						@include breakpoint(tab992) {
							@include square(length(36));
						}

						svg {
							@include wh100;
						}
					}
				}
			}
		}

		.copyrightinfo {
			background: lighten($footerbg, 5%);
			padding: length(24);
			margin: length(0) length(-8);

			.copyright {
				&-text {
					color: $white;
					@include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(20, 12));
					text-align: center;
				}
			}
		}
	}
}

/**=====================================================
                FOOTER SECTION END
=====================================================**/