/**=======================================================**
                        HEADER SECTION START
**=======================================================**/

.header {
	padding: length(10) length(8);
	background: $white;
	box-shadow: $box-shadow-2;
	filter: $drop-shadow-1;
	position: fixed;
	@include w100;
	top: 0;
	left: 0;
	height: length(68);
	transition: ease $time;
	z-index: 9999;

	@include breakpoint(mobile576) {
		height: length(80);
	}

	@include breakpoint(tab992) {
		height: length(100);
	}

	&-nav {
		@include flex-center-between;

		.logo {
			@include square(length(48));
			@include flex-center;
			overflow: hidden;

			@include breakpoint(mobile576) {
				@include square(length(60));
			}

			@include breakpoint(tab992) {
				@include square(length(80));
			}

			img {
				@include wh100;
				object-fit: contain;
			}
		}

		.desktopmenu {
			margin-left: auto;
			display: none;

			@include breakpoint(tab992) {
				display: block;
			}
		}

		.desktoplist {
			@include list-horizontal;
			gap: length(40);

			@include breakpoint(desktop1200) {
				gap: length(80);
			}

			@include breakpoint(desktop1400) {
				gap: length(80);
			}

			&-link {
				color: $headerLinkColor;
				@include font-face($primaryFont, style('normal'), size(14), weight('semibold'), line-height(21.29, 14));
				letter-spacing: length(1.6);
				text-transform: uppercase;

				&:hover:not(.active) {
					color: $gray-700;
				}

				&.active {
					color: $gray-700;
				}
			}
		}

		.hamburgermenu {
			display: block;

			@include breakpoint(tab992) {
				display: none;
			}

			.btn-hamburger {
				@include square(length(24));
				@include transparent-button;
				@include flex-center;
				overflow: hidden;

				svg {
					@include wh100;
				}

				@include hover {
					svg {
						.fill {
							fill: $primary;
						}
					}
				}
			}
		}

		.mobilelist {
			@include list-vertical;
			gap: length(24);
			align-items: center;
			justify-content: center;
			height: 60%;

			&-link {
				color: $headerLinkColor;
				@include font-face($primaryFont, style('normal'), size(14), weight('semibold'), line-height(21.29, 14));
				letter-spacing: length(1.6);
				text-transform: uppercase;

				&:hover:not(.active) {
					color: $secondary;
				}

				&.active {
					color: $secondary;
				}
			}
		}
	}
}

/**=======================================================**
                        HEADER SECTION END
**=======================================================**/

/**=======================================================**
                        GAP SECTION START
**=======================================================**/

.gap {
	height: length(68);

	@include breakpoint(mobile576) {
		height: length(80);
	}

	@include breakpoint(tab992) {
		height: length(100);
	}
}

/**=======================================================**
                        GAP SECTION END
**=======================================================**/