.my-player-dimensions {
	@include wh100;
}

.video-js {
	@include wh100;

	.vjs-big-play-button {
		@include transform(translate(-60%, -50%));
		border: none;
		@include transparent-button;
		@include square(length(80));
		@include circle;
		line-height: 0;
		font-size: 0;

		@include breakpoint(tab992) {
			@include transform(translate(-70%, -55%));
		}

		@include breakpoint(desktop1200) {
			@include square(length(100));
		}

		@include breakpoint(desktop1400) {
			@include square(length(144));
		}

		&::before {
			content: url("data:image/svg+xml,%3Csvg width='144' height='144' viewBox='0 0 144 144' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='72' cy='72' r='72' fill='white' fill-opacity='0.5'/%3E%3Ccircle cx='72.7202' cy='71.2787' r='52.56' fill='white' fill-opacity='0.5'/%3E%3Cg clip-path='url(%23clip0_1_2522)'%3E%3Cpath d='M72.0004 105.606C53.4431 105.606 38.4004 90.5635 38.4004 72.0062C38.4004 53.449 53.4431 38.4062 72.0004 38.4062C90.5577 38.4062 105.6 53.449 105.6 72.0062C105.6 90.5635 90.5577 105.606 72.0004 105.606ZM67.3703 59.9606C67.1681 59.8257 66.9331 59.7482 66.6903 59.7363C66.4475 59.7244 66.206 59.7785 65.9915 59.893C65.7771 60.0075 65.5977 60.1779 65.4724 60.3863C65.3472 60.5947 65.2808 60.8331 65.2804 61.0762V82.9363C65.2808 83.1794 65.3472 83.4178 65.4724 83.6262C65.5977 83.8346 65.7771 84.005 65.9915 84.1195C66.206 84.234 66.4475 84.2881 66.6903 84.2762C66.9331 84.2643 67.1681 84.1868 67.3703 84.0518L83.7638 73.1251C83.9481 73.0024 84.0993 72.8361 84.2039 72.6409C84.3084 72.4457 84.3631 72.2277 84.3631 72.0062C84.3631 71.7848 84.3084 71.5668 84.2039 71.3716C84.0993 71.1764 83.9481 71.0101 83.7638 70.8874L67.367 59.9606H67.3703Z' fill='%230876FC'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_2522'%3E%3Crect x='31.6797' y='31.6875' width='80.64' height='80.64' rx='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

			@include square(length(80));
			@include circle;
			@include flex-center;

			@include breakpoint(desktop1200) {
				@include square(length(100));
			}

			@include breakpoint(desktop1400) {
				@include square(length(144));
			}
		}

		.vjs-control-text {
			display: none;
			width: 0;
			height: 0;
			margin: 0;
		}
	}
}