{% extends 'dashboard/base_dashboard.html' %}

{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center">Update Blog</h2><br>

                        <form id="myForm" action="{% url 'dashboard:edit_blog_url'  blog.id  %}" method="POST" enctype="multipart/form-data" >
                            <input name="id" value="{{blog.id}}" type="hidden">
                            {% csrf_token %}
                            <div id="accordion">
                                <div class="card" style="border: 1px dotted #999">

                                    <div id="collapseOne"
                                         class="collapse show"
                                         aria-labelledby="headingOne"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Blog Author <small style="color: red">*</small> </label>
                                                        <select required  name="blog_author" class="form-control"
                                                                    id="">
                                                            {% for author in blog_author %}
                                                                <option {% if blog.blog_author.id == author.id %} selected {% endif %} class="form-control" value="{{ author.id }}">{{ author.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Blog Category <small style="color: red">*</small> </label>
                                                        <select required  name="blog_category" class="form-control"
                                                                    id="">
                                                            {% for category in blog_category %}
                                                                <option {% if blog.blog_category.id == category.id %} selected {% endif %} class="form-control" value="{{ category.id }}">{{ category.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Title <small style="color: red">*</small> </label>
                                                        <input value="{{blog.title}}" required class="form-control" type="text" name="title" id=""> 
                                                    </div>
                                                    <div class="form-group">
                                                        
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <label>Image <small style="color: red">*</small> </label>
                                                                <input type="file"   name="image" class="form-control" >
                                                            </div>
                                                            <div class="col-md-5">
                                                                <label>Alt Text </label>
                                                                <input value="{{blog.alt_text }}"  name="alt_text" class="form-control" >
                                                            </div>
                                                            <div class="col-md-3">
                                                                <img style="width: 50px; height: 50px; margin-top: 30px; margin-left: 70px; " src="/media/{{ blog.image }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                                <div class="col-md-6">
                                                    <div id="container" class="form-group">
                                                        <label>Description <small style="color: red">*</small> </label>
                                                        <textarea id="editor" type="text"  name="description"  class="form-control" >{{blog.description}}</textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>OG Description<small style="color: red">*</small> </label>
                                                        <textarea  required name="og_description" class="form-control" >{{ blog.og_description }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Tags <small style="color: red"></small> </label>
                                                        <textarea class="form-control" type="text" name="tags" id="blog_tags">{{ blog.tags }} </textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Url <small style="color: red">*</small> </label>
                                                        <input  value="{{blog.url}}" type="text"  required name="url" class="form-control" >
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                                <button name="save" class="btn btn-default float-right" type="submit">
                                    <i class="fa fa-plus-circle"></i>
                                    Update
                                </button>

                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

{% endblock %}

{% block script %}
<script>
csrf = '{{ csrf_token }}';
$(document).ready(function() {
    $("#technology_features").select2({
        allowClear: true
    });     
});
CKEDITOR.ClassicEditor.create(document.getElementById("editor"), {
                // https://ckeditor.com/docs/ckeditor5/latest/features/toolbar/toolbar.html#extended-toolbar-configuration-format
                toolbar: {
                    items: [
                        'selectAll','findAndReplace', 
                        'heading',
                        'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'removeFormat',
                        'bulletedList', 'numberedList', 'todoList',
                        'outdent', 'indent',
                        'undo', 'redo',
                        'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight',
                        'alignment',
                        'link', 'insertImage', 'blockQuote', 'insertTable', 'mediaEmbed',
                        'specialCharacters', ,
                        
                    ],
                    shouldNotGroupWhenFull: true
                },
                // Changing the language of the interface requires loading the language file using the <script> tag.
                // language: 'es',
                list: {
                    properties: {
                        styles: true,
                        startIndex: true,
                        reversed: true
                    }
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
                heading: {
                    options: [
                        { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                        { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                        { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                        { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                        { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                        { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                        { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                    ]
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#using-the-editor-configuration
                placeholder: 'Blog Description !',
                // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-family-feature
                fontFamily: {
                    options: [
                        'default',
                        'Arial, Helvetica, sans-serif',
                        'Courier New, Courier, monospace',
                        'Georgia, serif',
                        'Lucida Sans Unicode, Lucida Grande, sans-serif',
                        'Tahoma, Geneva, sans-serif',
                        'Times New Roman, Times, serif',
                        'Trebuchet MS, Helvetica, sans-serif',
                        'Verdana, Geneva, sans-serif',
                        'Titillium Web'
                    ],
                    supportAllValues: true
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-size-feature
                fontSize: {
                    options: [ 10, 12, 14, 'default', 18, 20, 22 ],
                    supportAllValues: true
                },
                // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
                // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
                htmlSupport: {
                    allow: [
                        {
                            name: /.*/,
                            attributes: true,
                            classes: true,
                            styles: true
                        }
                    ]
                },
                // Be careful with enabling previews
                // https://ckeditor.com/docs/ckeditor5/latest/features/html-embed.html#content-previews
                htmlEmbed: {
                    showPreviews: true
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/link.html#custom-link-attributes-decorators
                link: {
                    decorators: {
                        addTargetToExternalLinks: true,
                        defaultProtocol: 'https://',
                        toggleDownloadable: {
                            mode: 'manual',
                            label: 'Downloadable',
                            attributes: {
                                download: 'file'
                            }
                        }
                    }
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
                mention: {
                    feeds: [
                        {
                            marker: '@',
                            feed: [
                                '@apple', '@bears', '@brownie', '@cake', '@cake', '@candy', '@canes', '@chocolate', '@cookie', '@cotton', '@cream',
                                '@cupcake', '@danish', '@donut', '@dragée', '@fruitcake', '@gingerbread', '@gummi', '@ice', '@jelly-o',
                                '@liquorice', '@macaroon', '@marzipan', '@oat', '@pie', '@plum', '@pudding', '@sesame', '@snaps', '@soufflé',
                                '@sugar', '@sweet', '@topping', '@wafer'
                            ],
                            minimumCharacters: 1
                        }
                    ]
                },
                // The "super-build" contains more premium features that require additional configuration, disable them below.
                // Do not turn them on unless you read the documentation and know how to configure them and setup the editor.
                removePlugins: [
                    // These two are commercial, but you can try them out without registering to a trial.
                    // 'ExportPdf',
                    // 'ExportWord',
                    'CKBox',
                    'CKFinder',
                    'EasyImage',
                    // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
                    // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
                    // Storing images as Base64 is usually a very bad idea.
                    // Replace it on production website with other solutions:
                    // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
                    // 'Base64UploadAdapter',
                    'RealTimeCollaborativeComments',
                    'RealTimeCollaborativeTrackChanges',
                    'RealTimeCollaborativeRevisionHistory',
                    'PresenceList',
                    'Comments',
                    'TrackChanges',
                    'TrackChangesData',
                    'RevisionHistory',
                    'Pagination',
                    'WProofreader',
                    // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
                    // from a local file system (file://) - load this site via HTTP server if you enable MathType
                    'MathType'
                ]
            });
</script>

{% endblock %}