{% extends 'dashboard/base_dashboard.html' %}

{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center">Update Blog</h2><br>

                        <form id="myForm" action="{% url 'dashboard:edit_blog_url'  blog.id  %}" method="POST" enctype="multipart/form-data" >
                            <input name="id" value="{{blog.id}}" type="hidden">
                            {% csrf_token %}
                            <div id="accordion">
                                <div class="card" style="border: 1px dotted #999">

                                    <div id="collapseOne"
                                         class="collapse show"
                                         aria-labelledby="headingOne"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Blog Author <small style="color: red">*</small> </label>
                                                        <select required  name="blog_author" class="form-control"
                                                                    id="">
                                                            {% for author in blog_author %}
                                                                <option {% if blog.blog_author.id == author.id %} selected {% endif %} class="form-control" value="{{ author.id }}">{{ author.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Blog Category <small style="color: red">*</small> </label>
                                                        <select required  name="blog_category" class="form-control"
                                                                    id="">
                                                            {% for category in blog_category %}
                                                                <option {% if blog.blog_category.id == category.id %} selected {% endif %} class="form-control" value="{{ category.id }}">{{ category.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Title <small style="color: red">*</small> </label>
                                                        <input value="{{blog.title}}" required class="form-control" type="text" name="title" id=""> 
                                                    </div>
                                                    <div class="form-group">
                                                        
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <label>Image <small style="color: red">*</small> </label>
                                                                <input type="file"   name="image" class="form-control" >
                                                            </div>
                                                            <div class="col-md-3">
                                                                <img style="width: 50px; height: 50px; margin-top: 30px; margin-left: 70px; " src="/media/{{ blog.image }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Description <small style="color: red">*</small> </label>
                                                        <textarea id="blog_description" type="text"  name="description"  class="form-control" >{{blog.description}}</textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>OG Description<small style="color: red">*</small> </label>
                                                        <textarea  required name="og_description" class="form-control" >{{ blog.og_description }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Tags <small style="color: red">*</small> </label>
                                                        <textarea class="form-control" type="text" name="tags" id="blog_tags">{{ blog.tags }} </textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Url <small style="color: red">*</small> </label>
                                                        <input  value="{{blog.url}}" type="text"  required name="url" class="form-control" >
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                                <button name="save" class="btn btn-default float-right" type="submit">
                                    <i class="fa fa-plus-circle"></i>
                                    Update
                                </button>

                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

{% endblock %}

{% block script %}
<script>
csrf = '{{ csrf_token }}';
$(document).ready(function() {
    $("#technology_features").select2({
        allowClear: true
    });     
});
$(document).ready(function() {
        
      
        ClassicEditor
        .create( document.querySelector( '#blog_description' ) , {
                list: {
                    properties: {
                        styles: true,
                        startIndex: true,
                        reversed: true
                    }
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
                heading: {
                    options: [
                        { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                        { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                        { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                        { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                        { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                        { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                        { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                    ]
                },

                placeholder: 'Blog Description !',

         
              
                link: {
                    decorators: {
                        addTargetToExternalLinks: true,
                        defaultProtocol: 'https://',
                        toggleDownloadable: {
                            mode: 'manual',
                            label: 'Downloadable',
                            attributes: {
                                download: 'file'
                            }
                        }
                    }
                },
 
            });
        ClassicEditor
            .create( document.querySelector( '#blog_tags' ) , {
                list: {
                    properties: {
                        styles: true,
                        startIndex: true,
                        reversed: true
                    }
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
                heading: {
                    options: [
                        { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                        { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                        { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                        { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                        { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                        { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                        { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                    ]
                },
            
                link: {
                    decorators: {
                        addTargetToExternalLinks: true,
                        defaultProtocol: 'https://',
                        toggleDownloadable: {
                            mode: 'manual',
                            label: 'Downloadable',
                            attributes: {
                                download: 'file'
                            }
                        }
                    }
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
          
            });
        
    })
</script>

{% endblock %}