{% extends 'dashboard/base_dashboard.html' %}

{% block content %}

<div class="container-fluid mt-2">
    <div class="row">
        <div class="col">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="" id="">
                    <div class="card mt-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-9">
                                    <h5>Blog</h5>
                                </div>
                                <div class="col-md-3">
                                    <a href="{% url 'dashboard:save_blog_url' %}"  class="btn btn-success"><strong>+</strong></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
                            <table id="subscriber_list" class="table table-borderless table-striped table-hover">
                                <tr>
                                    <th>Id </th>
                                    <th>Blog Author </th>
                                    <th>Blog Category</th>
                                    <th>Title</th>
                                    <th>Image</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>
                                    <th>Display</th>
                                    <th>Action</th>
                                </tr>
                                {% for blog in blogs %}
                                <tr id="blog_{{ blog.id }}">
                                    <td>{{ blog.id }}</td>
                                    <td>{{ blog.blog_author }}</td>
                                    <td>{{ blog.blog_category }}</td>
                                    <td>{{ blog.title }}</td>
                                    <td>
                                        {% if blog.image %}
                                         <img style="width: 50px; " src="{{ blog.image.url }}"> 
                                        {% endif %}   
                                    </td>
                                    <td>{{ blog.created_at }}</td>
                                    <td>{{ blog.updated_at }}</td> 
                                    <td>
                                        <input  onchange="change_swithc('{{blog.id}}')" class="text-justify" type="checkbox" data-toggle="switchbutton" {% if  blog.display == 1 %} checked {% endif %} data-onstyle="outline-dark" data-offstyle="outline-primary">
                                    </td>
                                    <td>
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <form action="{% url 'dashboard:delete_blog_row_url' %}"method="POST" >
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{ blog.id }}" name="id">
                                                    <button title="Delete Item"  onclick="check()" type="submit" class="btn btn-icon btn-sm btn-outline-primary" ><i class="fa fa-trash"></i></button>
                                                </form> 
                                            </div>
                                            <div class="col-3">
                                                <a href="{% url 'dashboard:edit_blog_url'  blog.id %}"  title="Blog Edit"  class="btn btn-icon btn-sm btn-outline-primary" ><i class="fa fa-edit"></i></a>
                                            </div>
                                        </div>
                                    </td>      
                                </tr>
                                {% endfor %}
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
csrf = '{{ csrf_token }}';
function check(){
    if (confirm("Do you want to delete?") == true) {
        return true;
    } else {
        //cancle the from submission 
        $(this).submit(function(e){
            e.preventDefault();
            location.reload()
            return  false;
        })
        
    }
}

   
   
   function give_id(id){
    ClassicEditor
        .create( document.querySelector( '#editor1_'+id ) )
        .catch( error => {
             console.error( error );
    } );
    ClassicEditor
        .create( document.querySelector( '#editor2_'+id ) )
        .catch( error => {
             console.error( error );
    } );
           
   }
    $(document).ready(function() {
        
      
        ClassicEditor
        .create( document.querySelector( '#blog_description' ) )
        .catch( error => {
             console.error( error );
        } );
        ClassicEditor
            .create( document.querySelector( '#blog_tags' ) )
            .catch( error => {
                console.error( error );
        } );
        
    })
    function change_swithc(id){
    
        let url = "{% url 'dashboard:display_blog_row_url' %}";
        var data = {'id': id, 'csrfmiddlewaretoken': csrf}
        $.ajax({
            url: url,
            data: data,
            type: "POST",
            success: function (data) {
                toastr.success('Status changed successfully')
            },
            error: function (data) {
            }
    });
}
        
     

</script>

{% endblock %}