{% extends 'homepage/base_homepage.html' %}
{% load static %}

{% block content %}
	<!--========== 404 ERROR START ==========-->
  <div class="error">
    <div class="error-thumbnail">
      <img src="{%  static 'homepage/assets/images/logo/error.svg' %}" alt="error-thumbnail">
    </div>

    <div class="error-link">
      <a href="/" class="btn-backto">
        <span class="text">Back To Home</span>
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </span>
      </a>
    </div>
  </div>
	<!--========== 404 ERROR END ============-->



{% endblock %}