{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'homepage/head_homepage.html' %}
    {% block head %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154659319-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-154659319-1');
        </script>
    {% endblock %}
</head>

<body>

  {% include 'homepage/facebook_chat_sdk.html' %}

  
	<!--========== PRELOADER-START ==========-->
	<div class="preloader" id="preloader">
		<div class="preload">
			<img src="{%  static 'homepage/assets/images/logo/logo.svg' %}" alt="logo">
		</div>
	</div>
	<!--========== PRELOADER-END ============-->
    {% include 'homepage/navbar_homepage.html' %}

    {% block content %}

    {% endblock %}

    {% include 'homepage/footer_homepage.html' %}

    {% include 'homepage/script_homepage.html' %}

    {% block script %}
    {% endblock %}

<script>
  $(document).ready(function(){
      var year = new Date().getFullYear();
      var res = "&copy; "+year+" Qtec Solution Limited. All rights reserved."
      $("p#copyright_date").html(res);
    });
 
    function saveSubscribe(){
        var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
        let subscribe_email = $('#subscribe_email')
        if (subscribe_email.val() == "") {
          $("#subscribe_error_field_id").addClass("errorfield");
          $('.error-message').text('Email is required!')
          return false;
        }else{
            if (!subscribe_email.val().match(validRegex)) {
              $("#subscribe_error_field_id").addClass("errorfield");
              $('.error-message').text('Email is wrong!')

                return false;
              }
        }

        let data= {
            "type": 1,
            "email": subscribe_email.val(),
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        }
        $.ajax({
            url: "{% url 'homepage:lets_talk_subscribe_save_url' %}",
            data: data,
            type: "POST",
            success: function (data) {
                if (data.success){
                    subscribe_email.val('')
                    if(data.email_existes){
                      $("#subscribe_error_field_id").addClass("errorfield");
                      $('.error-message').text('Alerady subscribed!')
                      return false;
                    }
                    else{
                      $("#subscribe_error_field_id").removeClass("errorfield");
                      let toastSubscribe = document.getElementById('subscribeToast');
                      let toast = new bootstrap.Toast(toastSubscribe);
                      toast.show();
                    }
                    
                  
                }
            },
            error: function (data) {
            }
      });
    }
</script>
<script type="text/javascript">
  $(document).on('submit', '#thinkform',function(e){
    e.preventDefault();
    $.ajax({
      type:'POST',
      url:'{% url "homepage:staff_augmentation_create" %}',
      data:{
        name:$('#name').val(),
        company:$('#company').val(),
        phone:$('#phone').val(),
        email:$('#email').val(),
        // budget-{{budget.id}}
        service:$('input[name="service"]:checked').val(),
        budget: $('input[name="budget"]:checked').val(),
        description: $('#description').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(response){
        $('#toastTitle').text(response.message)
        e.target.reset();
        let toastThink = document.getElementById('thinkToast');
        let toast = new bootstrap.Toast(toastThink);
        toast.show();
      },
    })
  })

</script>
<script type="text/javascript">
  $(document).on('submit', '#ebook_form',function(e){
    e.preventDefault();
    $.ajax({
      type:'POST',
      url:'{% url "homepage:req_to_download_book" %}',
      data:{
        user_name:$('#downloader_name').val(),
        phone_number:$('#downloader_phone').val(),
        email:$('#downloader_email').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(response){
        $('#ebook_toast_title').text(response.notify)
        e.target.reset();
        let toastEbook = document.getElementById('ebookToast');
        let toast = new bootstrap.Toast(toastEbook);
        toast.show();
      },
    })
  })

</script>
</body>

</html>
