{% load static %}
	<!--========== HEADER-START ==========-->
	<header class="header">
		<div class="container">
			<nav class="header-nav">
				<a href="{% url 'homepage:index_url' %}" class="logo">
					<img src="{%  static 'homepage/assets/images/logo/logo.svg' %}" alt="logo">
				</a>

				<!-- DESKTOP-MENU START -->
				<div class="desktopmenu">
					<ul class="desktoplist">
						<li class="desktoplist-item">
							<a href="{% url 'homepage:index_url' %}" class="desktoplist-link {% if request.resolver_match.url_name == 'index_url' %} active {% endif %}">Home</a>
						</li>

						<li class="desktoplist-item">
							<a href="{% url 'homepage:about_us_url' %}" class="desktoplist-link {% if request.resolver_match.url_name == 'about_us_url' %} active {% endif %}">About Us</a>
						</li>

						<li class="desktoplist-item d-none">
							<a href="{% url 'homepage:index_url' %}" class="desktoplist-link {% if request.resolver_match.url_name == 'index_url' %} active {% endif %}">Services</a>
						</li>

						<li class="desktoplist-item">
							<a href="{% url 'homepage:product_url' %}" class="desktoplist-link {% if request.resolver_match.url_name == 'product_url' %} active {% endif %}">Products</a>
						</li>
						<li class="desktoplist-item">
							<a href="{% url 'homepage:blog_url' %}" class="desktoplist-link {% if request.resolver_match.url_name == 'blog_url' %} active {% endif %}">Blogs</a>
						</li>
						<li class="desktoplist-item">
							<a href="{% url 'homepage:contact_us_url' %}" class="desktoplist-link {% if request.resolver_match.url_name == 'contact_us_url' %} active {% endif %}">Contact Us</a>
						</li>
					</ul>
				</div>
				<!-- DESKTOP-MENU END -->

				<!-- HAMBURGER-MENU START -->
				<div class="hamburgermenu">
					<button type="button" class="btn-hamburger" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-controls="mobileMenu">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
							<path fill="none" d="M0 0h24v24H0z" />
							<path class="fill" d="M3 4h18v2H3V4zm6 7h12v2H9v-2zm-6 7h18v2H3v-2z" />
						</svg>
					</button>
				</div>
				<!-- HAMBURGER-MENU END -->

				<!-- MOBILE-MENU START -->
				<div class="offcanvas offcanvas-start" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenu">
					<div class="offcanvas-header">
						<a href="index.html" class="logo">
							<img src="assets/images/logo/logo.svg" alt="logo">
						</a>

						<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
							</svg>
						</button>
					</div>

					<div class="offcanvas-body">
						<ul class="mobilelist">
							<li class="mobilelist-item">
								<a href="{% url 'dashboard:dashboard_url' %}" class="mobilelist-link active">Home</a>
							</li>

							<li class="mobilelist-item">
								<a href="about.html" class="mobilelist-link">About Us</a>
							</li>

							<li class="mobilelist-item d-none">
								<a href="services.html" class="mobilelist-link">Services</a>
							</li>

							<li class="mobilelist-item">
								<a href="products.html" class="mobilelist-link">Products</a>
							</li>
							<li class="mobilelist-item">
								<a href="products.html" class="mobilelist-link">Blogs</a>
							</li>

							<li class="mobilelist-item">
								<a href="contact.html" class="mobilelist-link">Contact Us</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- MOBILE-MENU END -->
			</nav>
		</div>
	</header>
	<!--========== HEADER-END ============-->

	<!--========== GAP-START ==========-->
	<section class="gap"></section>
	<!--========== GAP-END ============-->