{% load static %}
	
	
	<script src="{% static 'homepage/assets/js/bootstrap.bundle.min.js' %}"></script>
	<!-- KURSOR JS -->
	<script src="{% static 'homepage/assets/js/kursor.js' %}"></script>
	<!-- MOUSE JS -->
	<script src="{% static 'homepage/assets/js/mouse.js' %}"></script>
	<!-- TOOLTIP JS -->
	<script src="{% static 'homepage/assets/js/sitetooltip.js' %}"></script>
	<!-- PRELOADER JS -->
	<script src="{% static 'homepage/assets/js/preload.js' %}"></script>
	<!-- GSAP JS -->
	<script src="{% static 'homepage/assets/js/gsap.min.js' %}"></script>
	<!-- GSAP SCROLL-TRIGGER -->
	<script src="{% static 'homepage/assets/js/ScrollTrigger.min.js' %}"></script>
	<!-- GSAP TWEENMAX -->
	<script src="{% static 'homepage/assets/js/TweenMax.min.js' %}"></script>
	<!-- HEADER JS -->
	<script src="{% static 'homepage/assets/js/header.js' %}" ></script>
	<script src="{% static 'homepage/assets/js/home-animation.js' %}"></script>
	<!-- BACK-TO-TOP JS -->
	<script src="{% static 'homepage/assets/js/up_btn.js' %}"></script>
	<!-- BACK-TO-TOP JS -->
	<script src="{% static 'homepage/assets/js/back-top.js' %}"></script>
	<!-- PROJECT-COUNTER JS -->
	<script src="{% static 'homepage/assets/js/counter.js' %}"></script>
	
	<!-- VIDEO-JS JS -->
	<script src="{% static 'homepage/assets/js/video.min.js' %}" ></script>
	<!-- PLAYER-JS -->
	
	 <!-- SWIPER JS -->
	 <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
	 <script src="{% static 'homepage/assets/js/sliders.js' %}"></script>

	<!-- TINY-SLIDER  -->
	<script src="{% static 'homepage/assets/js/tiny-slider.js' %}"></script>
	 <!-- CASE STUDY JS -->
	<script src="{% static 'homepage/assets/js/caseslider.js' %}" ></script>
	 <!-- HOME-CLIENT SLIDER -->
	 <script src="{% static 'homepage/assets/js/homeclients.js' %}"></script>

    {% if request.resolver_match.url_name == 'about_us_url' %}
    	<script src="{% static 'homepage/assets/js/about-player.js' %}"></script>
    {% endif %}

    {% if request.resolver_match.url_name == 'index_url' %}
    	<script src="{% static 'homepage/assets/js/home-player.js' %}"></script>
    {% endif %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0" nonce="03Naseuj"></script>