/**=======================================================**
                    CASE-STUDY-BANNER START
**=======================================================**/

.casestudy-banner {
	background: $bannerBg;
	padding: length(48) length(8) length(64);

	@include breakpoint(tab992) {
		padding: length(60) length(0) length(120);
	}

	&-description {
		@include flex-column;
		gap: length(24);

		.casestudyinfo {
			.casestudy-title {
				color: $gray-700;
				@include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(53.01, 28));

				@include breakpoint(mobile768) {
					@include font-face($primaryFont, style('normal'), size(38), weight('semibold'), line-height(63.01, 38));
				}

				@include breakpoint(tab992) {
					@include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(73.01, 48));
				}
			}
		}

		.casestudydetetail {
			.casestudy-text {
				color: $gray-600;
				@include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(25.58, 14));
				letter-spacing: length(0.24);
				text-align: justify;

				@include breakpoint(mobile768) {
					@include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25.92, 16));
				}

				@include breakpoint(tab992) {
					@include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
				}
			}
		}
	}

	.thumbnailbox {
		@include radius(16);
		position: relative;
		margin-top: length(80);

		@include breakpoint(tab992) {
			margin-top: length(0);
		}

		&::after {
			content: '';
			position: absolute;
			top: length(-30);
			right: length(-15);
			z-index: -100;
			width: 70%;
			height: length(167);
			background: $caseStudyBannerBg;

			@include breakpoint(tab992) {
				top: length(-60);
				right: length(-30);
			}
		}

		.product-thumbnail {
			@include w100;
			@include radius(16);
			overflow: hidden;

			img {
				@include wh100;
				object-fit: cover;
			}
		}
	}
}

/**=======================================================**
                    CASE-STUDY-BANNER END
**=======================================================**/



/**=======================================================**
                CLIENT-REQUIREMENTS START
**=======================================================**/

.client-requirements {
	background: $white;
	padding: length(48) length(0);

	@include breakpoint(tab992) {
		padding: length(80) length(0);
	}

	.requirements {
		@include flex-column;
		gap: length(24);

		@include breakpoint(tab992) {
			gap: length(40);
		}

		&-title {
			color: $gray-700;
			@include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(53.01, 28));

			@include breakpoint(mobile768) {
				@include font-face($primaryFont, style('normal'), size(38), weight('semibold'), line-height(63.01, 38));
			}

			@include breakpoint(tab992) {
				@include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(73.01, 48));
			}
		}

		&-text {
			color: $gray-600;
			@include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(25.58, 14));
			letter-spacing: length(0.24);
			text-align: justify;

			@include breakpoint(mobile768) {
				@include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25.92, 16));
			}

			@include breakpoint(tab992) {
				@include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
			}
		}
	}
}

/**=======================================================**
                CLIENT-REQUIREMENTS END
**=======================================================**/



/**=======================================================**
                    KEY-FEATURES START
**=======================================================**/

.keyfeatures {
	padding: length(48) length(8) length(64);

	@include breakpoint(tab992) {
		padding: length(60) length(0) length(120);
	}

	&-content {
		@include flex-column;
		gap: length(40);
	}

	&-header {
		.featuresinfo {
			.features-title {
				color: $gray-700;
				@include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(47, 32));

				@include breakpoint(mobile768) {
					@include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(77, 40));
				}

				@include breakpoint(tab992) {
					@include font-face($primaryFont, style('normal'), size(52), weight('semibold'), line-height(79.09, 52));
				}
			}
		}
	}

	&-body {
		@include flex-column;
		gap: length(48);

		@include breakpoint(tab992) {
			gap: length(80);
		}

		.features {
			@include flex-column;
			gap: length(40);

			&-header {
				.feature-title {
					color: $gray-700;
					@include font-face($primaryFont, style('normal'), size(20), weight('semibold'), line-height(28.09, 20));

					@include breakpoint(mobile768) {
						@include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38.09, 28));
					}
				}
			}
		}
	}
}

/**=======================================================**
                    KEY-FEATURES END
**=======================================================**/



/**=======================================================**
                    HOW-BUILD-IT START
**=======================================================**/

.how-build {
	background: $white;
	padding: length(30) length(8) length(0);

	@include breakpoint(tab992) {
		padding: length(60) length(0) length(0);
	}

	&-description {
		@include flex-column;
		gap: length(24);

		.buildinfo {
			.build-title {
				color: $gray-700;
				@include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(53.01, 28));

				@include breakpoint(mobile768) {
					@include font-face($primaryFont, style('normal'), size(38), weight('semibold'), line-height(63.01, 38));
				}

				@include breakpoint(tab992) {
					@include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(73.01, 48));
				}
			}
		}

		.builddetetail {
			.build-text {
				color: $gray-600;
				@include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(25.58, 14));
				letter-spacing: length(0.24);
				text-align: justify;

				@include breakpoint(mobile768) {
					@include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(25.92, 16));
				}

				@include breakpoint(tab992) {
					@include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
				}
			}
		}
	}

	.thumbnailbox {
		position: relative;
		margin-top: length(80);

		@include breakpoint(tab992) {
			margin-top: length(0);
		}

		&::after {
			content: '';
			position: absolute;
			top: length(-30);
			right: length(-15);
			z-index: 1;
			width: 50%;
			height: length(167);
			background: $secondary;

			@include breakpoint(tab992) {
				top: length(-60);
				right: length(-30);
			}
		}

		.product-thumbnail {
			@include w100;
			overflow: hidden;
			position: relative;
			z-index: 2;

			img {
				@include wh100;
				object-fit: cover;
			}
		}
	}
}

/**=======================================================**
                    HOW-BUILD-IT END
**=======================================================**/



/**=======================================================**
                        TECHNOLOGIES START
**=======================================================**/

.technologies {
	padding: length(48) length(8) length(64);

	@include breakpoint(tab992) {
		padding: length(60) length(0) length(120);
	}

	&-content {
		@include flex-column;
		gap: length(40);
	}

	&-header {
		.technologyinfo {
			.technology-title {
				color: $gray-700;
				@include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(47, 32));

				@include breakpoint(mobile768) {
					@include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(77, 40));
				}

				@include breakpoint(tab992) {
					@include font-face($primaryFont, style('normal'), size(52), weight('semibold'), line-height(79.09, 52));
				}
			}
		}
	}
}

/**=======================================================**
                        TECHNOLOGIES END
**=======================================================**/



/**=======================================================**
                        SUBSCRIBE START
**=======================================================**/

.subscribe {
	background: $white;
	padding: length(48) length(8);

	@include breakpoint(tab992) {
		padding: length(80) length(0);
	}

	&-content {
		@include flex-center-column;
		gap: length(40);
		text-align: center;
		background: url(../images/subscribe/subscribeBg.svg) no-repeat center center/cover;
		padding: length(48) length(8) length(64);

		@include breakpoint(tab992) {
			padding: length(64) length(0) length(96);
		}

		.subscribe-title {
			color: $gray-700;
			@include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(47, 32));

			@include breakpoint(mobile768) {
				@include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(77, 40));
			}

			@include breakpoint(tab992) {
				@include font-face($primaryFont, style('normal'), size(52), weight('semibold'), line-height(79.09, 52));
			}
		}
	}
}

/**=======================================================**
                        SUBSCRIBE END
**=======================================================**/