/**=======================================================**
                    PRODUCTS-SECTION START
**=======================================================**/

.products {
	@include flex-column;
	gap: length(32);
	padding: length(48) length(8);

	@include breakpoint(tab992) {
		padding: length(60) length(0) length(80);
	}

	@include breakpoint(tab992) {
		gap: length(48);
	}

	.singleproduct {
		padding: length(30) length(0);

		@include breakpoint(tab992) {
			padding: length(60) length(0);
		}

		&:nth-child(even) {
			.products-description {
				@include breakpoint(tab992) {
					padding-left: length(140);
				}
			}
		}
	}

	.thumbnailbox {
		background: $darkGrayBg;
		@include radius(16);
		padding: length(32);
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: length(-30);
			right: length(-15);
			z-index: -100;
			width: 70%;
			height: length(167);

			@include breakpoint(tab992) {
				top: length(-60);
				right: length(-30);
			}
		}

		.product-thumbnail {
			@include w100;
			overflow: hidden;

			img {
				@include wh100;
				object-fit: cover;
			}
		}
	}

	.products-description {
		@include flex-column;
		gap: length(24);

		.productlogo {
			width: length(198);
			height: lenght(34);
			@include flex-center;
			overflow: hidden;

			img {
				@include wh100;
				object-fit: cover;
			}
		}

		.squarelogo {
			@include square(length(198));
			@include flex-center;
			overflow: hidden;

			img {
				@include wh100;
				object-fit: cover;
			}
		}

		.prodinfo {
			max-width: 100%;

			@include breakpoint(tab992) {
				max-width: length(550);
			}

			.product-title {
				color: $gray-700;
				@include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(53.01, 28));

				@include breakpoint(mobile768) {
					@include font-face($primaryFont, style('normal'), size(38), weight('semibold'), line-height(63.01, 38));
				}

				@include breakpoint(tab992) {
					@include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(73.01, 48));
				}
			}
		}
	}

	.thumbnail-1 {
		margin-top: length(100);

		@include breakpoint(tab992) {
			margin-top: length(0);
		}

		&::after {
			background: $thumb1-bg;
		}
	}

	.thumbnail-2 {
		&::after {
			background: $thumb2-bg;
		}
	}

	.thumbnail-3 {
		margin-top: length(100);

		@include breakpoint(tab992) {
			margin-top: length(0);
		}

		&::after {
			background: $thumb3-bg;
		}
	}

	.product-1 {
		background: $bannerBg;
	}

	.product-2 {
		background: $bannerBg-2;

		// .products-description {
		//     @include breakpoint(tab992) {
		//         padding-left: length(140);
		//     }
		// }
	}

	.product-3 {
		background: $bannerBg-3;
	}
}

/**=======================================================**
                    PRODUCTS-SECTION END
**=======================================================**/