{% extends 'homepage/base_homepage.html' %}
{% load static %}

{% block content %}
    	<section class="servicebanner" >
		<div class="container">
			<div class="servicebanner-content">
				<h1 class="servicebanner-title">Our Services</h1>
			</div>
		</div>

	</section>
	<!--========== SERVICE-BANNER END ============-->

	<!--========== SERVICES SECTION START ============-->
	<section class="ourservice">
		<div class="container">
			<div class="ourservice-content">
				<div class="col-lg-8 mx-lg-auto col-12">
					<div class="ourservice-header">
						<h1 class="ourservice-title">What Services we provide?</h1>

						<p class="ourservice-text">
							It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it.
						</p>
					</div>
				</div>

				<div class="ourservices-body">
					<div class="row justify-content-center g-4">
						<div class="col-md-6 col-lg-4">
							<a href="{% url 'homepage:service_details_url' 'software-solutions-development' %}" class="servicelink">
								<div class="service">
									<div class="service-header">
										<figure class="service-icon">
											<img src="{% static 'homepage/assets/images/services/software-development.png' %}" alt="service-icon">
										</figure>

										<h5 class="service-title">Software Solutions Development</h5>
									</div>

									<div class="service-body">
										<p class="servicetext">
											Got a kickass idea that can change and impact the whole internet? We got you covered and can take the whole responsibility for creating the full project starting from design to development and then lifetime support. 
											Any kind of enterprise software solutions, ecommerces, delivery management system, business management, learning applications are our core strength.
											Based on your super custom requirements, we can provide amazing full super fast and top notch solutions. 
										</p>

										<span class="learnmore">Learn more </span>
									</div>
								</div>
							</a>
						</div>

						<div class="col-md-6 col-lg-4">
							<a href="{% url 'homepage:service_details_url' 'ui-ux-design' %}" class="servicelink">
								<div class="service">
									<div class="service-header">
										<figure class="service-icon">
											<img src="{% static 'homepage/assets/images/services/ui-ux.png' %}" alt="service-icon">
										</figure>

										<h5 class="service-title">UI UX Design</h5>
									</div>

									<div class="service-body">
										<p class="servicetext">
											Starting from how a user thinks to delivering what a user needs to use your dream product is what UX UI Design is all about.  Our expert UI UX Designers analyse the user group, do user interviews and discussion and create the user flow accordingly. The final touch gets colour and theme before going to the production. 
										</p>

										<span class="learnmore">Learn more </span>
									</div>
								</div>
							</a>
						</div>

						<div class="col-md-6 col-lg-4">
							<a href="{% url 'homepage:service_details_url' 'mobile-application-development' %}" class="servicelink">
								<div class="service">
									<div class="service-header">
										<figure class="service-icon">
											<img src="{% static 'homepage/assets/images/services/mobile-development.png' %}" alt="service-icon">
										</figure>

										<h5 class="service-title">Mobile Application Development</h5>
									</div>

									<div class="service-body">
										<p class="servicetext">
											Everybody looks for an App when you have a business digital or non digital. We use Flutter and Native technologies to develop super user friendly, fast and smooth mobile applications. Our expert engineers can deliver both iOS and Android applications on time. 
										</p>

										<span class="learnmore">Learn more </span>
									</div>
								</div>
							</a>
						</div>

						<div class="col-md-6 col-lg-4">
							<a href="{% url 'homepage:service_details_url' 'ecommerce-solutions' %}" class="servicelink">
								<div class="service">
									<div class="service-header">
										<figure class="service-icon">
											<img src="{% static 'homepage/assets/images/services/ecommerce.png' %}" alt="service-icon">
										</figure>

										<h5 class="service-title">E-Commerce Solutions</h5>
									</div>

									<div class="service-body">
										<p class="servicetext">
											Ecommerce Software development is our very core skill. We have developed more than 10 large scale ecommerce projects with numerous modules. With time our ecommerce engine matured to a great level. Our ecommerce software solutions includes frontend application, backend application, android and ios applications. Each application runs separately and communicates using REST API. The scalability of our solutions give our clients upper hand in the market. 
										</p>

										<span class="learnmore">Learn more </span>
									</div>
								</div>
							</a>
						</div>

						<div class="col-md-6 col-lg-4">
							<a href="{% url 'homepage:service_details_url' 'lms-solutions' %}" class="servicelink">
								<div class="service">
									<div class="service-header">
										<figure class="service-icon">
											<img src="{% static 'homepage/assets/images/services/lms.png' %}" alt="service-icon">
										</figure>

										<h5 class="service-title">LMS Solutions</h5>
									</div>

									<div class="service-body">
										<p class="servicetext">
											Learning Management System software development is something we are very good at. We have developed several Elearning solutions for our clients and have become very expert in this industry. Our in- depth understanding of the industry gives us extra advantage to help our clients reach the designed goal with scalable technology. 
										</p>

										<span class="learnmore">Learn more </span>
									</div>
								</div>
							</a>
						</div>

						<div class="col-md-6 col-lg-4">
							<a href="{% url 'homepage:service_details_url' 'logistics-solutions' %}" class="servicelink">
								<div class="service">
									<div class="service-header">
										<figure class="service-icon">
											<img src="{% static 'homepage/assets/images/services/logistic.png' %}" alt="service-icon">
										</figure>

										<h5 class="service-title">Logistics Solutions</h5>
									</div>

									<div class="service-body">
										<p class="servicetext">
											In the past couple of years Qtec Solution Limited has developed multiple logistics solutions for local and international companies. We developed custom logistics solutions using Google Maps, generating routing, fulfilling.
										</p>
										<span class="learnmore">Learn more </span>
									</div>
								</div>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--========== SERVICES SECTION END ==============-->

	<!--========== SUBSCRIBE-START ==============-->
	<section class="subscribe">
		<div class="container">
			<div class="subscribe-content">
				<h1 class="subscribe-title">Want to buid your one? <br> We are here for you!</h1>

				<a href="{% url 'homepage:contact_us_url' %}" class="btn-getintouch">Contact us</a>
			</div>
		</div>
	</section>
	<!--========== SUBSCRIBE-END ================-->

{% endblock %}
