{% extends 'homepage/base_homepage.html' %}
{% load static %}

{% block content %}
	<main class="products">
		<section class="singleproduct product-1">
			<div class="container">
				<div class="row g-4 align-items-center">
					<div class="col-lg-6 col-12">
						<div class="products-description">
							<div class="squarelogo">
								<img src="{% static 'homepage/assets/images/project-logos/dokanbondhu.svg' %}" alt="product-logo">
							</div>

							<div class="prodinfo">
								<h3 class="product-title">
									Organized Dataset Buying & Selling Marketplace
								</h3>
							</div>

							<div class="productdetetail">
								<a href="https://www.dataghor.com/" target="_blank" class="btn-detail">Go to Data Ghor</a>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-12">
						<div class="thumbnailbox thumbnail-1">
							<figure class="product-thumbnail">
								<img src="{% static 'homepage/assets/images/projects/project-1.webp' %}" alt="product-thumbnail">
							</figure>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="singleproduct product-3">
			<div class="container">
				<div class="row g-4 align-items-center">
					<div class="col-lg-6 col-12">
						<div class="thumbnailbox thumbnail-3">
							<figure class="product-thumbnail">
								<img src="{%  static 'homepage/assets/images/projects/csebangla.webp' %}" alt="thumbnail">	
							</figure>
						</div>
					</div>

					<div class="col-lg-6 col-12">
						<div class="products-description">
							<div class="squarelogo">
								<img src="{%  static 'homepage/assets/images/project-logos/csebangla.svg' %}" alt="product-logo">
							</div>

							<div class="prodinfo">
								<h3 class="product-title">
									CSE Bangla - Learn Computer Science in Bangla Language
								</h3>
							</div>

							<div class="productdetetail">
								<a href="https://csebangla.com/" target="_blank" class="btn-detail">Go to CSE Bangla</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="singleproduct product-2 d-none">
			<div class="container">
				<div class="row g-4 align-items-center">
					<div class="col-lg-6 col-12">
						<div class="thumbnailbox thumbnail-2">
							<figure class="product-thumbnail">
								<img src="{% static 'assets/images/projects/project-2.svg' %}" alt="product-thumbnail">
							</figure>
						</div>
					</div>

					<div class="col-lg-6 col-12">
						<div class="products-description">
							<div class="productlogo">
								<img src="{% static 'assets/images/project-logos/dokanbondhu.svg' %}" alt="product-logo">
							</div>

							<div class="prodinfo">
								<h3 class="product-title">
									SAAS Solution for small Business Management
								</h3>
							</div>

							<div class="productdetetail">
								<a href="#" class="btn-detail">Go to Dokan Bondhu</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}