{% extends 'homepage/base_homepage.html' %}
{% load static %}
{% block content %}

<!--========== GAP-START ==========-->
<section class="gap"></section>
<!--========== GAP-END ============--> 

<!--========== STAFF-BANNER-START ============-->
<section class="ebook-banner">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-7">
        <div class="banner-detail">
          <h1 class="banner-title">
            IT Staff Augmentation Service
          </h1>

          <div class="info">
            <p class="text">
              It is a long established fact that a reader will be distracted by the 
              readable content of a page when looking at its layout. It is a long 
              established fact that a reader will be distracted by the readable 
              content of a page when looking at its layout.
            </p>
          </div>

          <div class="hireinfo">
            <a href="#" class="btn-hire">Hire Now</a>
            <a href="#" class="btn-learnmore">
              <span class="icon">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5 19.5L22.5 12.5L13.5 5.5V19.5Z" stroke="#0876FC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M2.5 19.5L11.5 12.5L2.5 5.5V19.5Z" stroke="#0876FC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
              <span class="text">Learn More</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <figure class="banner-thumb">
          <img src="{% static 'images/staff/staff-banner.png'' %}" alt="banner-thumb">
        </figure>
      </div>
    </div>
  </div>
</section>
<!--========== STAFF-BANNER-END ============-->

<!--========== STAFF-REQUIREMENTS-START ============-->
<section class="staffrequirements">
  <div class="staffrequirements-content">
    <div class="staffrequirements-header">
      <div class="container">
        <div class="titlebox">
          <h2 class="title">
            Why Choose Qtec Solution for Your IT Staff Augmentation Requirements?
          </h2>
        </div>
      </div>
    </div>

    <div class="staffrequirements-body">
      <div class="container">
        <div class="row g-4">
          <div class="col-md-4">
            <div class="cardrequirement">
              <div class="cardrequirement-header">
                <figure class="thumbnail">
                  <img src="{% static 'images/staff/skills-gap.png' %}" alt="requirements-thumbnail">
                </figure>

                <h5 class="requiretitle">Close Skills Gap</h5>
              </div>

              <div class="cardrequirement-body">
                <p class="text">
                  We keep looking towards the future, at the same time recognizing awareness  that behavior change takes place only with a clear awareness of the current state. We keep looking towards the future, at the same time recognizing .
                </p>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="cardrequirement">
              <div class="cardrequirement-header">
                <figure class="thumbnail">
                  <img src="{% static 'images/staff/costs-skill.png' %}" alt="requirements-thumbnail">
                </figure>

                <h5 class="requiretitle">Reduce costs skill</h5>
              </div>

              <div class="cardrequirement-body">
                <p class="text">
                  We keep looking towards the future, at the same time recognizing awareness  that behavior change takes place only with a clear awareness of the current state. We keep looking towards the future, at the same time recognizing .
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="cardrequirement">
              <div class="cardrequirement-header">
                <figure class="thumbnail">
                  <img src="{% static 'images/staff/accelerate.png' %}" alt="requirements-thumbnail">
                </figure>

                <h5 class="requiretitle">Accelerate Deployment</h5>
              </div>

              <div class="cardrequirement-body">
                <p class="text">
                  We keep looking towards the future, at the same time recognizing awareness  that behavior change takes place only with a clear awareness of the current state. We keep looking towards the future, at the same time recognizing .
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--========== STAFF-REQUIREMENTS-END ============-->

<!--========== STAFF-CONTENTS-START ============-->
<section class="staffcontent">
  <div class="container">
    <div class="row gx-4 gy-5 align-items-center">
      <div class="col-lg-5 mb-4 mb-lg-0">
        <figure class="thumb">
          <img src="{% static 'images/staff/high-quality.png' %}" alt="thumb">

          <div class="thumbshade"></div>
        </figure>
      </div>

      <div class="offset-lg-1 col-lg-6">
        <div class="descriptions">
          <h4 class="title">
            High Quality Technical Talent
          </h4>

          <div class="infos">
            <p class="text">
              We keep looking towards the future, at the same time recognizing awareness  that behavior change takes place only with a clear awareness of the current state. We keep looking towards the future, at the same time recognizing.
            </p>

            <p class="text">
              We keep looking towards the future, at the same time recognizing awareness  that behavior change takes place only with a clear awareness of the current state. We keep looking towards the future, at the same time recognizing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--========== STAFF-CONTENTS-END ============-->

<!--========== STAFF-CONTENTS-START ============-->
<section class="staffcontent">
  <div class="container">
    <div class="row gx-4 gy-5 align-items-center">
      <div class="offset-lg-1 col-lg-6">
        <div class="descriptions">
          <h4 class="title">
            What is Staff Augmentation?
          </h4>

          <div class="infos">
            <p class="text">
              We keep looking towards the future, at the same time recognizing awareness  that behavior change takes place only with a clear awareness of the current state. We keep looking towards the future, at the same time recognizing.
            </p>

            <a href="#" class="link">
              <span class="text">Learn More</span>
              <span class="icon">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path d="M22.0035 15.408L13.4115 24L12 22.5885L20.591 13.9965H13.0192V12H24V22.9808H22.0035V15.408Z" fill="#0876FC"/>
                  </g>
                  <defs>
                    <clipPath>
                      <rect width="36" height="36" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <figure class="thumb">
          <img src="{% static 'images/staff/quality-2.png' %}" alt="thumb">

          <div class="thumbshade"></div>
        </figure>
      </div>
    </div>
  </div>
</section>
<!--========== STAFF-CONTENTS-END ============-->

<!--========== STAFF-CONTENTS-START ============-->
<section class="staffcontent">
  <div class="container">
    <div class="row gx-4 gy-5 align-items-center">
      <div class="col-lg-5 mb-4 mb-lg-0">
        <figure class="thumb">
          <img src="{% static 'images/staff/quality-3.png' %}" alt="thumb">

          <div class="thumbshade"></div>
        </figure>
      </div>

      <div class="offset-lg-1 col-lg-6">
        <div class="descriptions">
          <h4 class="title">
            How does Staff Augmentation works?
          </h4>

          <div class="infos">
            <p class="text">
              We keep looking towards the future, at the same time recognizing awareness  that behavior change takes place only with a clear awareness of the current state. We keep looking towards the future, at the same time recognizing.
            </p>

            <a href="#" class="link">
              <span class="text">Learn More</span>
              <span class="icon">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path d="M22.0035 15.408L13.4115 24L12 22.5885L20.591 13.9965H13.0192V12H24V22.9808H22.0035V15.408Z" fill="#0876FC"/>
                  </g>
                  <defs>
                    <clipPath>
                      <rect width="36" height="36" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--========== STAFF-CONTENTS-END ============-->

<!--========== STAFF-CONTENTS-START ============-->
<section class="staffcontent">
  <div class="container">
    <div class="row gx-4 gy-5 align-items-center">
      <div class="offset-lg-1 col-lg-6">
        <div class="descriptions">
          <h4 class="title">
            Why hire IT Staff Augmentation?
          </h4>

          <div class="infos">
            <p class="text">
              We keep looking towards the future, at the same time recognizing awareness  that behavior change takes place only with a clear awareness of the current state. We keep looking towards the future, at the same time recognizing.
            </p>

            <a href="#" class="link">
              <span class="text">Learn More</span>
              <span class="icon">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path d="M22.0035 15.408L13.4115 24L12 22.5885L20.591 13.9965H13.0192V12H24V22.9808H22.0035V15.408Z" fill="#0876FC"/>
                  </g>
                  <defs>
                    <clipPath>
                      <rect width="36" height="36" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <figure class="thumb">
          <img src="{% static 'images/staff/quality-4.png' %}" alt="thumb">

          <div class="thumbshade"></div>
        </figure>
      </div>
    </div>
  </div>
</section>
<!--========== STAFF-CONTENTS-END ============-->

<!--========== HIREME-SECTION START ============-->
<section class="hireme">
  <div class="container">
    <div class="hireme-detail">
      <div class="leftcontent">
        <h3 class="title">
          We Offer An Effective Project Experience With Creative
          Solutions That Add More Value To Your Business.
        </h3>
      </div>

      <div class="rightcontent">
        <a href="#" class="link">Hire Now</a>
      </div>
    </div>
  </div>
</section>
<!--========== HIREME-SECTION END ============-->

<!--========== WHYCHOOSE-SECTION START ============-->
<section class="whychoose">
  <div class="container">
    <div class="whychoose-content">
      <div class="whychoose-header">
        <figure class="icon">
          <svg width="97" height="3" viewBox="0 0 97 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="97" height="3" fill="url(#divider1)"/>
            <defs>
              <linearGradient id="divider1" x1="0" y1="0" x2="0.18539" y2="5.99427" gradientUnits="userSpaceOnUse">
                <stop stop-color="#43CBFF"/>
                <stop offset="1" stop-color="#9708CC"/>
              </linearGradient>
            </defs>
          </svg>
        </figure>

        <div class="titlebox">
          <h3 class="title">
            Why Choose <span>Staff Augmentation</span> for your company?
          </h3>
        </div>
      </div>

      <div class="whychoose-body">
        <div class="row g-4">
          <div class="col-md-4">
            <div class="card-whychoose">
              <div class="card-whychoose-header">
                <span class="cardcount">01</span>
                <h5 class="title">Hire Best Team</h5>
              </div>

              <div class="card-whychoose-body">
                <p class="text">
                  We keep looking towards the future, at the same time recognizing awareness  that behavior change takes place only with a clear awareness of the current state.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card-whychoose">
              <div class="card-whychoose-header">
                <span class="cardcount">02</span>
                <h5 class="title">Experiences Employee</h5>
              </div>

              <div class="card-whychoose-body">
                <p class="text">
                  We keep looking towards the future, at the same time recognizing awareness  that behavior change takes place only with a clear awareness of the current state.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card-whychoose">
              <div class="card-whychoose-header">
                <span class="cardcount">03</span>
                <h5 class="title">Convenient time-zone</h5>
              </div>

              <div class="card-whychoose-body">
                <p class="text">
                  We keep looking towards the future, at the same time recognizing awareness  that behavior change takes place only with a clear awareness of the current state.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--========== WHYCHOOSE-SECTION END ============-->

<!--========== VIEWOURWORK-SECTION START ============-->
<section class="workview">
  <div class="container">
    <div class="workview-content">
      <div class="workview-header">
        <div class="row g-4 align-items-center">
          <div class="col-lg-4">
            <figure class="icon">
              <svg width="97" height="3" viewBox="0 0 97 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="97" height="3" fill="url(#divider2)"/>
                <defs>
                  <linearGradient id="divider2" x1="0" y1="0" x2="0.18539" y2="5.99427" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#43CBFF"/>
                    <stop offset="1" stop-color="#9708CC"/>
                  </linearGradient>
                </defs>
              </svg>
            </figure>
            
            <h3 class="title">
              View Our <br> <span>Recent Work</span>
            </h3>
          </div>
          
          <div class="col-lg-8">
            <div class="info">
              <p class="text">
                We keep looking towards the future, at the same time recognizing awareness  that behavior change takes place only with a clear awareness of the current state. We keep looking towards the future, at the same time recognizing . We keep looking towards the future, at the same time recognizing awareness  that behavior change takes place only with a clear awareness of the current state.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="workview-body">
        <div class="row g-4">
          <div class="col-lg-4 col-md-6">
            <figure class="workthumb">
              <img src="https://images.pexels.com/photos/16327893/pexels-photo-16327893/free-photo-of-dark-photo-of-mountain-ponds.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="recent-work-thumbnail">
            </figure>
          </div>
          
          <div class="col-lg-4 col-md-6">
            <figure class="workthumb">
              <img src="https://images.pexels.com/photos/16892085/pexels-photo-16892085/free-photo-of-wood-summer-pattern-leaf.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="recent-work-thumbnail">
            </figure>
          </div>

          <div class="col-lg-4 col-md-6">
            <figure class="workthumb">
              <img src="https://images.pexels.com/photos/15645160/pexels-photo-15645160/free-photo-of-squirrel-sitting-on-ground-in-nature.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="recent-work-thumbnail">
            </figure>
          </div>

          <div class="col-lg-4 col-md-6">
            <figure class="workthumb">
              <img src="https://images.pexels.com/photos/12411681/pexels-photo-12411681.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="recent-work-thumbnail">
            </figure>
          </div>

          <div class="col-lg-4 col-md-6">
            <figure class="workthumb">
              <img src="https://images.unsplash.com/photo-1687579521416-bcbec263fb7e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0N3x8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="recent-work-thumbnail">
            </figure>
          </div>

          <div class="col-lg-4 col-md-6">
            <figure class="workthumb">
              <img src="https://cdn.pixabay.com/photo/2023/05/07/09/59/mountains-7976041_1280.jpg" alt="recent-work-thumbnail">
            </figure>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <a href="#" class="link">
            <span class="text">View More</span>

            <span class="icon">
              <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M22.0035 15.408L13.4115 24L12 22.5885L20.591 13.9965H13.0192V12H24V22.9808H22.0035V15.408Z" fill="#0876FC"/>
                </g>
                <defs>
                  <clipPath>
                    <rect width="36" height="36" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--========== VIEWOURWORK-SECTION END ============-->

<!--========== COLLABORATE-SECTION START ============-->
<section class="collaborate">
  <div class="container">
    <div class="collaborate-content">
      <div class="collaborate-header">
        <figure class="icon">
          <svg width="97" height="3" viewBox="0 0 97 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="97" height="3" fill="url(#divider3)"/>
            <defs>
              <linearGradient id="divider3" x1="0" y1="0" x2="0.18539" y2="5.99427" gradientUnits="userSpaceOnUse">
                <stop stop-color="#43CBFF"/>
                <stop offset="1" stop-color="#9708CC"/>
              </linearGradient>
            </defs>
          </svg>
        </figure>

        <div class="titlebox">
          <h2 class="title">
            Hire Dedicated <span>Designers</span> and <span>Developers Choose</span> how you <span>want</span> to collaborate.
          </h2>
        </div>
      </div>

      <div class="collaborate-body">
        <div class="row g-4">
          <div class="col-lg-3 col-md-6">
            <div class="card-collaborate">
              <figure class="card-collaborate-icon">
                <img src="{% static 'images/staff/projectbased.png' %}" alt="collaborate-icon">
              </figure>

              <h5 class="title">Project Based</h5>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6">
            <div class="card-collaborate">
              <figure class="card-collaborate-icon">
                <img src="{% static 'images/staff/hourlybasis.png' %}" alt="collaborate-icon">
              </figure>

              <h5 class="title">Hire Designers on hourly basis</h5>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card-collaborate">
              <figure class="card-collaborate-icon">
                <img src="{% static 'images/staff/dedicated.png' %}" alt="collaborate-icon">
              </figure>

              <h5 class="title">Dedicated team of Developers</h5>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card-collaborate">
              <figure class="card-collaborate-icon">
                <img src="{% static 'images/staff/notsure.png' %}" alt="collaborate-icon">
              </figure>

              <h5 class="title">I am not sure</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--========== COLLABORATE-SECTION END ============-->

<!--========== USETOOLS-SECTION START ============-->
<section class="usetools">
  <div class="container">
    <div class="usetools-content">
      <div class="usetools-header">
        <figure class="icon">
          <svg width="97" height="3" viewBox="0 0 97 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="97" height="3" fill="url(#divider4)"/>
            <defs>
              <linearGradient id="divider4" x1="0" y1="0" x2="0.18539" y2="5.99427" gradientUnits="userSpaceOnUse">
                <stop stop-color="#43CBFF"/>
                <stop offset="1" stop-color="#9708CC"/>
              </linearGradient>
            </defs>
          </svg>
        </figure>

        <div class="titlebox">
          <h2 class="title">
            <span>Tools</span> we use to <span>develop</span> your business
          </h2>
        </div>
      </div>

      <div class="usetools-body">
        <figure class="tool">
          <img src="https://symbols.getvecta.com/stencil_25/0_angular.fe63c22e96.svg" alt="tool-icon">
        </figure>

        <figure class="tool">
          <img src="https://symbols.getvecta.com/stencil_25/1_aurelia.0288cc0d6c.svg" alt="tool-icon">
        </figure>

        <figure class="tool">
          <img src="https://symbols.getvecta.com/stencil_25/2_babel.5198367f39.svg" alt="tool-icon">
        </figure>

        <figure class="tool">
          <img src="https://symbols.getvecta.com/stencil_25/87_typescript.cb2d7326fa.svg" alt="tool-icon">
        </figure>

        <figure class="tool">
          <img src="https://symbols.getvecta.com/stencil_25/10_codeigniter.8dcbcc9b8a.svg" alt="tool-icon">
        </figure>

        <figure class="tool">
          <img src="https://symbols.getvecta.com/stencil_25/17_dart.fc9eb5a40c.svg" alt="tool-icon">
        </figure>

        <figure class="tool">
          <img src="https://symbols.getvecta.com/stencil_25/22_django.7813323447.svg" alt="tool-icon">
        </figure>

        <figure class="tool">
          <img src="https://symbols.getvecta.com/stencil_25/41_javascript.0ca26ec4ab.svg" alt="tool-icon">
        </figure>

        <figure class="tool">
          <img src="https://symbols.getvecta.com/stencil_25/72_react.76a8d36b4b.svg" alt="tool-icon">
        </figure>

        <figure class="tool">
          <img src="https://symbols.getvecta.com/stencil_25/89_vuejs.a929f023a4.svg" alt="tool-icon">
        </figure>
      </div>
    </div>
  </div>
</section>
<!--========== USETOOLS-SECTION END ============-->

<!--========== THINK-SECTION START ============-->
<section class="thinksec">
  <div class="container">
    <div class="thinksec-content">
      <div class="thinksec-header">
        <figure class="icon">
          <svg width="97" height="3" viewBox="0 0 97 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="97" height="3" fill="url(#divider5)"/>
            <defs>
              <linearGradient id="divider5" x1="0" y1="0" x2="0.18539" y2="5.99427" gradientUnits="userSpaceOnUse">
                <stop stop-color="#43CBFF"/>
                <stop offset="1" stop-color="#9708CC"/>
              </linearGradient>
            </defs>
          </svg>
        </figure>

        <h3 class="title"><span>Let’s</span> think together</h3>
      </div>

      <div class="thinksec-body">
        <div class="row g-4">
          <div class="col-lg-8">
            <form method="POST" class="thinkform">
              {% csrf_token %}
              <div class="row g-4">
                <div class="col-lg-6">
                  <div class="inputbox">
                    <input name="name" type="text" placeholder="Your name*" class="inputfield">
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="inputbox">
                    <input name="company" type="text" placeholder="Company name" class="inputfield">
                  </div>
                </div>
                
                <div class="col-lg-6">
                  <div class="inputbox">
                    <input name="phone" type="tel" placeholder="Contact number" class="inputfield">
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="inputbox">
                    <input name="email" type="email" placeholder="Email*" class="inputfield">
                  </div>
                </div>
              </div>

              <div class="servicebox">
                <h5 class="title">Services</h5>

                <div class="services">
                  {%for service in services %}
                  <div class="myservice">
                    <input value="{{service.id}}" type="radio" name="service" id="service-{{service.id}}" hidden>
                    <label for="service-{{service.id}}">
                      {{service.name}}
                    </label>
                  </div>
                  {% endfor %}
                </div>
              </div>

              <div class="servicebox">
                <h5 class="title">Approximate Budget</h5>

                <div class="services">
                  {%for budget in budgets %}
                  <div class="myservice">
                    <input value="{{budget.id}}" type="radio" name="budget" id="budget-{{budget.id}}" hidden>
                    <label for="budget-{{budget.id}}">
                      ${{budget.name}}
                    </label>
                  </div>
                  {% endfor %}
                </div>
              </div>

              <div class="messagebox">
                <textarea name="description" class="inputfield" placeholder="Tell us more about your project" rows="6"></textarea>
              </div>

              <div class="submitbox">
                <button type="submit" class="btn-mysubmit">Submit</button>
              </div>
            </form>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <figure class="mailthumb">
              <img src="{% static 'images/staff/mail.png' %}" alt="mail-thumb">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--========== THINK-SECTION END ============-->

<!--========== BUSINESS-SECTION START ============-->
<section class="secbusiness">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-8">
        <div class="secbusinessinfo">
          <div class="secbusinessinfo-head">
            <h3 class="title">Start building your Business!</h3>
            
            <div class="info">
              <p class="text">
                We use the latest technologies and development methodologies to ensure our products are scalable, secure, and optimized for performance. Contact us today to learn more about how we can help you achieve your business goals.
              </p>
            </div>
          </div>

          <div class="secbusinessinfo-body">
            <a href="contact.html" class="link">Contact Us</a>

            <p>
              Or Call us at <a href="tel:+8801313522828">+880 1313-522828</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <figure class="businessthumb">
          <img src="{% static 'images/staff/chart.png' %}" alt="business-thumb">
        </figure>
      </div>
    </div>
  </div>
</section>
<!--========== BUSINESS-SECTION END ============-->

{% endblock %}