{% extends 'dashboard/base_dashboard.html' %}

{% block content %}

<div class="container-fluid mt-2">
    <div class="row">
        <div class="col">
            <div class="card mt-3">
            </div>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="" id="">
                    <div class="card mt-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-9">
                                    <h5>What Project Have We Done</h5>
                                </div>
                                <div class="col-md-3">
                                    <button title="Add Item" class="btn btn-success" data-toggle="modal"
                                        data-target="#what_project_done_add_modal"><strong>+</strong></button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
                            <table id="subscriber_list" class="table table-borderless table-striped table-hover">
                                <tr>
                                    <th>Name </th>
                                    <th>Image</th>
                                    <th>Technology</th>
                                    <th>Project Type</th>
                                    <th>Priority</th>
                                    <th>Action</th>
                                </tr>
                                {% for done in what_Done %}
                                <tr id="what_done_{{ item.id }}">
                                   
                                    <td>{{ done.name }}</td>
                                    <td>
                                        {% if done.image %}
                                        <div>
                                            <img style="width: 50px; " src="/media/{{ done.image }}">
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% for tech in done.technology.all %}
                                            {{ tech.title }},
                                            {% endfor %}
                                    </td>
                                    <td> {{done.get_project_type_display}}</td>
                                    <td>{{done.priority}}</td>

                                    <td>
                                        <div class="form-group row">
                                            <div class="">
                                                <form action="{% url 'dashboard:delete_what_done_url' %}"method="POST" >
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{done.id}}" name="id">
                                                    <button title="Delete Item" onclick="check()"  type="submit" class="btn btn-icon btn-sm btn-outline-primary" ><i class="fa fa-trash"></i></button>
                                                </form>
                                            </div>
                                            <div class="" style="margin-left: .5em;
                                            margin-right: .5em;">
                                                <button title="Edit Item" onclick="get_id('{{done.id}}')" data-toggle="modal"
                                                data-target="#edit_what_project_done_add_modal_{{done.id}}" class="btn btn-icon btn-sm btn-outline-primary" ><i class="fa fa-edit"></i></button>
                                                <div class="modal fade" id="edit_what_project_done_add_modal_{{done.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>

                                                        <form action="{% url 'dashboard:edit_what_project_done_url' %}" method="POST" enctype="multipart/form-data" >
                                                            {% csrf_token %}
                                                            <input type="hidden" name="id" value="{{ done.id }}">
                                                            <div class="modal-body">
                                                                <div class="error text-center" style="color: red;"></div>
                                                                <br>
                                                                <div class="form-group row">
                                                                    <label for="name" class="col-sm-3 col-form-label">Name <small style="color: red">*</small> </label>
                                                                    <div class="col-sm-9">
                                                                        <input  required type="text" class="form-control" name="name" id="what_project_done_name"
                                                                            value="{{ done.name }}">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <label for="title" class="col-sm-3 col-form-label">Technology <small style="color: red">*</small> </label>
                                                                    <div class="col-sm-9">
                                                                        <select multiple class="form-control" required name="technology" id="technologie_selct_id_{{done.id}}">
                                                                            {% for tech in technology %}
                                                                                <option {% if tech in done.technology.all %} selected {% endif %} value="{{ tech.id }}">{{ tech.title }}</option>
                                                                            {% endfor %}
                                                                       </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="title" class="col-sm-3 col-form-label">Project Type <small style="color: red">*</small> </label>
                                                                    <div class="col-sm-9">
                                                                       <select multiple class="form-control" required name="project_type" id="project_type_id_{{done.id}}">
                                                                            {% for type in project_type %}
                                                                                <option {% if type.0|stringformat:'s' in done.project_type %} selected {% endif %} value="{{ type.0 }}">{{ type.1 }}</option>
                                                                            {% endfor %}
                                                                       </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="image" class="col-sm-3 col-form-label">Image <small style="color: red">*</small> </label>
                                                                    <div class="col-sm-9">
                                                                        <div class="row">
                                                                            <div class="col-md-8">
                                                                                <input class="form-control" type="file" name="image" id="what_project_done_add_modal_image">
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <img style="width: 50px; margin-left: 50px; " src="/media/{{ done.image }}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="image" class="col-sm-3 col-form-label">Priority <small style="color: red">*</small> </label>
                                                                    <div class="col-sm-9">
                                                                        <input value="{{ done.priority }}" required class="form-control" min="0" type="number" name="priority" >
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">Save </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="" >
                                                <a title="Update case study" href="{% url 'dashboard:case_study_edit_url' done.id %}" ><button class="btn btn-icon btn-sm btn-outline-primary" ><i class="fas fa-info-circle"></i></button></a>
                                            </div>
                                            <div class="" style="margin-left: .5em;
                                            margin-right: .5em;">
                                                <a  title="Add key feature" href="{% url 'dashboard:key_feature_url' done.id %}" ><button class="btn btn-icon btn-sm btn-outline-primary" ><i class="fas fa-plus-circle"></i></button></a>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div>

                    <!-- Add what_project_done_add_modal -->
                    <div  class="modal fade" id="what_project_done_add_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <form action="{% url 'dashboard:save_what_done_url' %}" method="POST" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="error text-center" style="color: red;"></div>
                                    <br>
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-3 col-form-label">Name <small style="color: red">*</small> </label>
                                        <div class="col-sm-9">
                                            <input required type="text" class="form-control" name="name" id=""
                                                value="{{content.title}}">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="title" class="col-sm-3 col-form-label">Technology <small style="color: red">*</small> </label>
                                        <div  class="col-sm-9">
                                            <select  multiple  required name="technology" id="technology_select">
                                                {% for tech in technology %}
                                                    <option   value="{{ tech.id }}">{{ tech.title }}</option>
                                                {% endfor %}
                                           </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="title" class="col-sm-3 col-form-label">Project Type <small style="color: red">*</small> </label>
                                        <div  class="col-sm-9">
                                           <select  multiple class="form-control" required name="project_type" id="project_type_select">
                                                {% for type in project_type %}
                                                    <option  value="{{ type.0 }}">{{ type.1 }}</option>
                                                {% endfor %}
                                           </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="image" class="col-sm-3 col-form-label">Image <small style="color: red">*</small> </label>
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <input required class="form-control" type="file" name="image" id="what_project_done_add_modal_image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="image" class="col-sm-3 col-form-label">Priority <small style="color: red">*</small> </label>
                                        <div class="col-sm-9">
                                            <input required class="form-control" min="0" type="number" name="priority" >
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary"  >Save </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}

{% block script %}
<script>
csrf = '{{ csrf_token }}';
function check(){
    if (confirm("Do you want to delete?") == true) {
        return true;
    } else {
        //cancle the from submission 
        $(this).submit(function(e){
            e.preventDefault();
            location.reload()
            return  false;
        })
        
    }
}
$(document).ready(function() {
        $('.textarea').summernote()
        $("#technology_select").select2({
            allowClear: true
        });
        $("#project_type_select").select2({
            allowClear: true
        }); 
       
         
    });
    function get_id(id){
        $("#technologie_selct_id_"+id).select2({
            allowClear: true
        }); 
        $("#project_type_id_"+id).select2({
            allowClear: true
        }); 
    }

</script>

{% endblock %}
