{% extends 'dashboard/base_dashboard.html' %}

{% load static %}


{% block content %}

<style>
#chartdiv {
  width: 100%;
  height: 500px;
}
#date_vs_purchase_chart {
  width: 100%;
  height: 500px;
}
#chartdiv2 {
  width: 500%;
  height: 250px;
}


</style>
<div class="container-fluid">
  <div class="card mt-4 ml-4 mr-4 mb-0">
        <div class="card-body d-flex justify-content-end align-items-center mb-0">
            <form class="form-inline">
                <select onchange="changeFunc();" id="selected_range" name="selected_range"
                        class="form-control mr-3">

                    <option value="last_seven_days"
                            {% if request.GET.selected_range|stringformat:'s' == 'last_seven_days' or not request.GET %}
                            selected {% endif %} >last 7th days
                    </option>
                    <option value="last_fifteen_days"
                            {% if request.GET.selected_range|stringformat:'s' == 'last_fifteen_days' %}
                            selected {% endif %}>Last 15 days
                    </option>
                    <option value="last_thirty_days"
                            {% if request.GET.selected_range|stringformat:'s' == 'last_thirty_days' %}
                            selected {% endif %}>Last 30 days
                    </option>
                    <option value="last_six_months"
                            {% if request.GET.selected_range|stringformat:'s' == 'last_six_months' %}
                            selected {% endif %} >last 6 Months
                    </option>
                    <option value="last_year"
                            {% if request.GET.selected_range|stringformat:'s' == 'last_year' %}
                            selected {% endif %} >last Year
                    </option>

                </select>
                <button class="btn btn-warning">Filter</button>
            </form>
        </div>
  </div>

  <div class="row p-4">
        <div class="col-lg-4">
            <div class="widget style1 dashboard-card" style="height: 170px;">
                <div class="row">
                    <div class="col-8">
                        <p> Let's Talk Pending</p>
                        <h2 class="">{{ pending }}</h2><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="widget style1 dashboard-card" style="height: 170px;">
                <div class="row">
                    <div class="col-8 ">
                        <p> Let's Talk Contacted </p>
                        <h2 class="font-bold">{{  contacted}}</h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="widget style1 dashboard-card" style="height: 170px;">
                <div class="row">
                    <div class="col-8">
                        <p> Tota Blog </p>
                        <h2 class="font-bold">{{ total_blog }}</h2>
                    </div>
                </div>
            </div>
        </div>
  </div>
  <div class="row p-4">
    <div class="col-lg-4">
        <div class="widget style1 dashboard-card" style="height: 170px;">
            <div class="row">
                <div class="col-8">
                    <p> Total Blog Category</p>
                    <h2 class="font-bold"> {{ total_blog_category }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget style1 dashboard-card" style="height: 170px;">
            <div class="row">
                <div class="col-8">
                    <p> Total Subscriptions</p>
                    <h2 class="font-bold"> {{ total_subscribe }}</h2>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-4">
        <div class="widget style1 dashboard-card" style="height: 170px;">
            <div class="row">
                <div class="col-8">
                    <p> Total Team Member </p>
                    <h2 class="font-bold">{{ total_teammembers }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row p-4">
    <div class="col-lg-4">
        <div class="widget style1 dashboard-card" style="height: 170px;">
            <div class="row">
                <div class="col-8">
                    <p> Total Opportunities</p>
                    <h2 class="font-bold"> {{ total_opportunities }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget style1 dashboard-card" style="height: 170px;">
            <div class="row">
                <div class="col-12">
                    <p> Total Applications</p>
                    <div class="row justify-content-between" style="font-size:14px;">
                        <div class="col-6 d-flex flex-column" style="gap: 8px;">
                            <h10 class="font-bold"> Unseen:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{   unseen }}</h10>
                            <h10 class="font-bold"> Selected:&nbsp;&nbsp;&nbsp; {{ selected }}</h10>
                            <h10 class="font-bold"> Pendings: &nbsp;&nbsp;{{ pendings }}</h10>
                        </div>
                        <div class="col-6 d-flex flex-column" style="gap: 8px;">
                            <h10 class="font-bold"> Seen:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ seen }}</h10>
                            <h10 class="font-bold"> Rejected:&nbsp;&nbsp; {{ rejected }}</h10>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>

    </div>
   
</div>
  {% if user_type == 2%}
  <div class="row p-4">
      <div class="col-lg-12">
          <div class="wrapper wrapper-content animated fadeInRight">
              <div class="card">
                  <h3 class="card-header" style="background-color: #081E3C; color:#fff">Data Chart</h3><br>
                  <div class="row">
                      <div class="card-body col-12">
                          <div id="chartdiv2" style="min-height: 20rem"></div>
                      </div class="card-body col-4">

                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  {% endif %}
  </div>
  </div>
</div>

    
{% endblock %}
{% block script %}


</script>


{% endblock %}