{% extends 'dashboard/base_dashboard.html' %}

{% block content %}

<div class="container-fluid mt-2">
    <div class="row">
        <div class="col">
            <div class="card mt-3">
            </div>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="" id="">
                    <div class="card mt-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-9">
                                    <h5>Subscriber List</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
                            <table id="subscriber_list" class="table table-borderless table-striped table-hover">
                                <tr>
                                    <th>Id </th>
                                    <th>Email </th>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                                {% for subscribe in subscribers %}
                                <tr id="subscriber_{{ subscribe.id }}">
                                    <td>{{ subscribe.id }}</td>
                                    <td>{{ subscribe.email }}</td>
                                    <td>{{ subscribe.date }}</td>
                                    <td>
                                        <select title="change status" id="subscriber_change_status_id_{{ subscribe.id}}" onchange="subscriber_talk_status('{{ subscribe.id }}')">
                                            {% for item in status %}
                                                <option {% if item.0 == subscribe.status %} selected {% endif %} value="{{ item.0 }}">{{item.1}}</option>
                                            {% endfor %}
                                        </select>  
                                    </td>

                                </tr>
                                {% endfor %}
                                
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}

{% block script %}
<script>
csrf = '{{ csrf_token }}';
function subscriber_talk_status(id){
    let url =  "{% url 'dashboard:subscriber_status_change_url' %}";
    status = $("#subscriber_change_status_id_"+id).val()
    $.ajax({
        url: url,
        data: {'id': id,'status' : status, 'csrfmiddlewaretoken': csrf},
        type: "POST",
        beforeSend: function(xhr) {
            xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
        },
        success: function (data) {
            toastr.success('Status change successfully');
        },
        error: function (data) {
            alert("")
            console.log(data);
        }
    });
}

</script>

{% endblock %}