{% extends 'homepage/base_homepage.html' %}

{% block content %}
  <!--========== BLOG-BANNER START ==========-->
  <section class="blogbanner">
    <div class="container">
      <div class="blogbanner-content">
        <h1 class="banner-title">Our Blogs</h1>
      </div>
    </div>
    <div class="overlay"></div>
  </section>
  <!--========== BLOG-BANNER END ============-->

  <!--========== BLOG-SECTION START ==========-->
  <section class="blog">
    <div class="container">
      <div class="row g-lg-4 g-3">
        <!-- BLOG ITEM START -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-10 mx-auto">
          <a href="blog-details.html" class="bloglink">
            <div class="card-article">
              <div class="card-article-header">
                <img src="assets/images/articles/article-1.svg" alt="card-thumbnail">
              </div>

              <div class="card-article-body">
                <div class="title-date">
                  <h4 class="title">Blog Title 1</h4>
                  <p class="date">Monday Jan 20, 2020</p>
                </div>

                <div class="articledescript">
                  <p class="articletext">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare pretium
                    placerat ut platea...
                  </p>
                </div>

                <span class="articlelink">Read article -&gt;</span>
              </div>
            </div>
          </a>
        </div>
        <!-- BLOG ITEM END -->

        <!-- BLOG ITEM START -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-10 mx-auto">
          <a href="blog-details.html" class="bloglink">
            <div class="card-article">
              <div class="card-article-header">
                <img src="assets/images/articles/article-1.svg" alt="card-thumbnail">
              </div>

              <div class="card-article-body">
                <div class="title-date">
                  <h4 class="title">Blog Title 2</h4>
                  <p class="date">Monday Jan 20, 2020</p>
                </div>

                <div class="articledescript">
                  <p class="articletext">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare pretium
                    placerat ut platea...
                  </p>
                </div>

                <span class="articlelink">Read article -&gt;</span>
              </div>
            </div>
          </a>
        </div>
        <!-- BLOG ITEM END -->

        <!-- BLOG ITEM START -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-10 mx-auto">
          <a href="blog-details.html" class="bloglink">
            <div class="card-article">
              <div class="card-article-header">
                <img src="assets/images/articles/article-1.svg" alt="card-thumbnail">
              </div>

              <div class="card-article-body">
                <div class="title-date">
                  <h4 class="title">Blog Title 1</h4>
                  <p class="date">Monday Jan 20, 2020</p>
                </div>

                <div class="articledescript">
                  <p class="articletext">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare pretium
                    placerat ut platea...
                  </p>
                </div>

                <span class="articlelink">Read article -&gt;</span>
              </div>
            </div>
          </a>
        </div>
        <!-- BLOG ITEM END -->

        <!-- BLOG ITEM START -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-10 mx-auto">
          <a href="blog-details.html" class="bloglink">
            <div class="card-article">
              <div class="card-article-header">
                <img src="assets/images/articles/article-1.svg" alt="card-thumbnail">
              </div>

              <div class="card-article-body">
                <div class="title-date">
                  <h4 class="title">Blog Title 1</h4>
                  <p class="date">Monday Jan 20, 2020</p>
                </div>

                <div class="articledescript">
                  <p class="articletext">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare pretium
                    placerat ut platea...
                  </p>
                </div>

                <span class="articlelink">Read article -&gt;</span>
              </div>
            </div>
          </a>
        </div>
        <!-- BLOG ITEM END -->
      </div>
    </div>
  </section>
  <!--========== BLOG-SECTION END ============-->

  <!--========== BLOG-DESCRIPT START ==========-->
  <section class="blogdescript">
    <div class="container">
      <div class="card-blog">
        <div class="row g-4">
          <div class="col-lg-6 col-12">
            <div class="card-blog-thumbnail">
              <img src="assets/images/blog/blog-thumb.png" alt="blog-thumbnail">
            </div>
          </div>

          <div class="col-lg-6 col-12">
            <div class="card-blog-details">
              <div class="info">
                <div class="info-head">
                  <h1 class="blogtitle">The hidden struggle of working moms? Guilt. How to overcome it</h1>
                  <p class="date">Monday Jan 20, 2020</p>
                </div>

                <div class="info-body">
                  <p class="blogtext">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lorem condimentum sed proin vitae eu.
                    Consectetur diam mattis proin ut ut et Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin lorem condimentum sed proin vitae eu. Consectetur diam mattis proin ut ut et......
                  </p>
                </div>
              </div>

              <div class="readinfo">
                <a href="blog-details.html" class="btn-read">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--========== BLOG-DESCRIPT END ============-->

  <!--========== ALL BLOGS START ==========-->
  <section class="allblogs">
    <div class="container">
      <div class="allblogs-content">
        <!-- ALL BLOGS START -->
        <div class="row g-4">
          <!-- BLOG ITEM START -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-8 mx-auto">
            <a href="blog-details.html" class="bloglink">
              <div class="card-article">
                <div class="card-article-header">
                  <img src="assets/images/articles/article-1.svg" alt="card-thumbnail">
                </div>

                <div class="card-article-body">
                  <div class="title-date">
                    <h4 class="title">Article Title 1</h4>
                    <p class="date">Monday Jan 20, 2020</p>
                  </div>

                  <div class="articledescript">
                    <p class="articletext">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare pretium
                      placerat ut platea...
                    </p>
                  </div>

                  <span class="articlelink">Read article -&gt;</span>
                </div>
              </div>
            </a>
          </div>
          <!-- BLOG ITEM END -->

          <!-- BLOG ITEM START -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-8 mx-auto">
            <a href="blog-details.html" class="bloglink">
              <div class="card-article">
                <div class="card-article-header">
                  <img src="assets/images/articles/article-1.svg" alt="card-thumbnail">
                </div>

                <div class="card-article-body">
                  <div class="title-date">
                    <h4 class="title">Article Title 1</h4>
                    <p class="date">Monday Jan 20, 2020</p>
                  </div>

                  <div class="articledescript">
                    <p class="articletext">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare pretium
                      placerat ut platea...
                    </p>
                  </div>

                  <span class="articlelink">Read article -&gt;</span>
                </div>
              </div>
            </a>
          </div>
          <!-- BLOG ITEM END -->

          <!-- BLOG ITEM START -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-8 mx-auto">
            <a href="blog-details.html" class="bloglink">
              <div class="card-article">
                <div class="card-article-header">
                  <img src="assets/images/articles/article-1.svg" alt="card-thumbnail">
                </div>

                <div class="card-article-body">
                  <div class="title-date">
                    <h4 class="title">Article Title 1</h4>
                    <p class="date">Monday Jan 20, 2020</p>
                  </div>

                  <div class="articledescript">
                    <p class="articletext">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare pretium
                      placerat ut platea...
                    </p>
                  </div>

                  <span class="articlelink">Read article -&gt;</span>
                </div>
              </div>
            </a>
          </div>
          <!-- BLOG ITEM END -->

          <!-- BLOG ITEM START -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-8 mx-auto">
            <a href="blog-details.html" class="bloglink">
              <div class="card-article">
                <div class="card-article-header">
                  <img src="assets/images/articles/article-1.svg" alt="card-thumbnail">
                </div>

                <div class="card-article-body">
                  <div class="title-date">
                    <h4 class="title">Article Title 1</h4>
                    <p class="date">Monday Jan 20, 2020</p>
                  </div>

                  <div class="articledescript">
                    <p class="articletext">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare pretium
                      placerat ut platea...
                    </p>
                  </div>

                  <span class="articlelink">Read article -&gt;</span>
                </div>
              </div>
            </a>
          </div>
          <!-- BLOG ITEM END -->

          <!-- BLOG ITEM START -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-8 mx-auto">
            <a href="blog-details.html" class="bloglink">
              <div class="card-article">
                <div class="card-article-header">
                  <img src="assets/images/articles/article-1.svg" alt="card-thumbnail">
                </div>

                <div class="card-article-body">
                  <div class="title-date">
                    <h4 class="title">Article Title 1</h4>
                    <p class="date">Monday Jan 20, 2020</p>
                  </div>

                  <div class="articledescript">
                    <p class="articletext">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare pretium
                      placerat ut platea...
                    </p>
                  </div>

                  <span class="articlelink">Read article -&gt;</span>
                </div>
              </div>
            </a>
          </div>
          <!-- BLOG ITEM END -->

          <!-- BLOG ITEM START -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-8 mx-auto">
            <a href="blog-details.html" class="bloglink">
              <div class="card-article">
                <div class="card-article-header">
                  <img src="assets/images/articles/article-1.svg" alt="card-thumbnail">
                </div>

                <div class="card-article-body">
                  <div class="title-date">
                    <h4 class="title">Article Title 1</h4>
                    <p class="date">Monday Jan 20, 2020</p>
                  </div>

                  <div class="articledescript">
                    <p class="articletext">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare pretium
                      placerat ut platea...
                    </p>
                  </div>

                  <span class="articlelink">Read article -&gt;</span>
                </div>
              </div>
            </a>
          </div>
          <!-- BLOG ITEM END -->
        </div>
        <!-- ALL BLOGS END -->

        <!-- SEE ALL START -->
        <div class="seeall">
          <div class="seemore">
            <a href="#" class="btn-seeall">See All</a>
          </div>
        </div>
        <!-- SEE ALL END -->
      </div>
    </div>
  </section>
  <!--========== ALL BLOGS END ============-->
{% endblock %}